include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Карточки
				
				.container-dashboard__content
					h3 Карточка категории img+txt  в колонку
					.cat-wrapper.scroll-wrapper(style="width: 430px")
						+catCard-ui(1,'Пицца')
						//- +catCard-ui(2,'Роллы')
						//- +catCard-ui(3,'Бургеры')
						//- +catCard-ui(4,'Закуски')
						//- +catCard-ui(5,'Напитки')
						//- +catCard-ui(6,'Десерты')
						//- +catCard-ui(7,'Салаты')
						//- +catCard-ui(8,'Наборы')
					h3 Карточка категории img+txt  в строку
					.cat-wrapper.two-columns(style="width: 430px")
						+catCard-flex-ui(1,'Пицца')
						//- +catCard-flex-ui(2,'Роллы')
						//- +catCard-flex-ui(3,'Бургеры')
						//- +catCard-flex-ui(4,'Закуски')
						//- +catCard-flex-ui(5,'Напитки')
						//- +catCard-flex-ui(6,'Десерты')
						//- +catCard-flex-ui(7,'Салаты')
						//- +catCard-flex-ui(8,'Наборы')
				h3 Карточка c картинкой 370х231	
				.products-content(style="width:482px")
					+card-ui('pizza2', 'Пицца Баварская', '650', 800)
						p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
				
				pre.
					+card-ui('pizza2', 'Пицца Баварская', '650', 800)
						p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
				hr
				h3 Карточка c картинкой 370х370
				.products-content(style="width:482px")
					+card-img-370-ui('combo2-h370', 'Комбо 2 друга', '650', 800, [{cl: 'new', txtTag: 'Новинка'}, {cl: 'sale', txtTag: 'Акция!'}])
						p Сырный цыпленок 25см, маргарита 25см, пепси 0,5л...
				
				pre.
					+card-img-370('combo2-h370', 'Комбо 2 друга', '650', 800, [{cl: 'new', txtTag: 'Новинка'}, {cl: 'sale', txtTag: 'Акция!'}])
						p Сырный цыпленок 25см, маргарита 25см, пепси 0,5л...
				
				h3 Карточка горизонтальная на моб версии и с тегами для фильтрации
				.products-content(style="width:482px")
					+card-horiz-tags-ui('pizza2', 'Пицца Баварская', '650', 800)
						p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
				
				pre.
					+card-horiz-tags('pizza2', 'Пицца Баварская', '650', 800)
						p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
				
				div(style="width: 400px;")
				.card-short
					.card-short__img
						img(src='../img/goods/pizza2-h370.webp', srcset='../img/goods/pizza2-h370@2x.webp 2x' width='104' height='104' loading='lazy' alt='img')
					.card-short__txt
						p.txt-14 Пепперони фреш
						.price-box
							span.new-price от 450&#8381;
				
				pre.
					.card-short
						.card-short__img
							img(src='../img/goods/pizza2-h370.webp', srcset='../img/goods/pizza2-h370@2x.webp 2x' width='104' height='104' loading='lazy' alt='img')
						.card-short__txt
							p.txt-14 Пепперони фреш
							.price-box
								span.new-price от 450&#8381;
				
				
				.card-short.price-border
					.card-short__img
						img(src='../img/goods/pizza2-h370.webp', srcset='../img/goods/pizza2-h370@2x.webp 2x' width='104' height='104' loading='lazy' alt='img')
					.card-short__txt
						p.txt-14 Пепперони фреш
						.price-box
							span.new-price от 450&#8381;
				hr
				div(style="width: 120px;")
					+addCard-ui(1,'Лук', 80)
				pre.
					+addCard(1,'Лук', 80)
				hr
				div(style="width: 120px;")
					.add-product.price-border
						.card-img
							img(src="../img/goods/juice.webp", srcset="../img/goods/juice@2x.webp 2x" width="95" height="62" alt="img")
						.card-txt
							p Пепси
							.card-price 120#[span &#8381;]
					+addCard-price-ui(2,'Лук', 80)
				hr
				.switch-group.switch-group--size(style="width: 400px;")
					label.switch-label(data-size="small")
						input(type="radio" name="switch_name2")
						span.switch-btn 28см
					label.switch-label(data-size="medium")
						input(type="radio" name="switch_name2" checked)
						span.switch-btn 32см
					label.switch-label(data-size="maxi")
						input(type="radio" name="switch_name2" )
						span.switch-btn 42см
				hr
				.basket-card
					//image
					.basket-card__img
						img.img-contain(src='../img/goods/pizza-h370.webp', srcset='../img/goods/pizza-h370@2x.webp 2x' width='' height='' loading='lazy' alt='img')
					.basket-card__group
						//title group
						.basket-card__title
							.basket-card__product
								.basket-card__name Пицца Особая
								.prod-weight 550 гр.
							.basket-card__row
								.round-label
									span 42см
								.round-label
									span Традиционное
						
						//text group
						.basket-card__text
							.basket-card__desk Говядина, халапеньо, моцарелла, помидоры, куриное филе, томатный соус.
							.basket-card__add
								p Дополнительно: Сыр моцарелла 50 гр. Пепперони 30 гр. Ветчина 30 гр. Маслины 20гр. Оливковое масло 20 гр.
								button.remove-basket-add
									svg.svg-cross
										use(href='../img/sprite.svg#svg-cross')
						
						//price group
						.basket-card__total
							.prod-weight 550 гр.
							//counter
							.counter
								button.counter-minus(type='button' aria-label='Уменьшить количество') –
								span.counter-value(contenteditable='true') 2
								button.counter-plus(type='button' aria-label='Увеличить количество') +
							//price
							.price-box
								span 600 &#8381;
							//remove card
							button.basket-card__remove
								svg.svg-delete
									use(href='../img/sprite.svg#svg-delete')
								svg.svg-cross
									use(href='../img/sprite.svg#svg-cross')