include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Компоненты

				.container-dashboard__content
					.h4 Price blocks
					.price-box
						span.new-price от 600 &#8381;
						span.old-price 800 &#8381;
					
					pre.
						.price-box
							span.new-price от 600 &#8381;
							span.old-price 800 &#8381;
					br
					.counter-wrapper__group
						span.txt-bold Количество:
						.counter
							button.counter-minus(type='button' aria-label='Уменьшить количество') –
							span.counter-value(contenteditable='true') 2
							button.counter-plus(type='button' aria-label='Увеличить количество') +
					pre.
						.counter-wrapper__group
							span.txt-bold Количество:
							.counter
								button.counter-minus(type='button' aria-label='Уменьшить количество') –
								span.counter-value(contenteditable='true') 2
								button.counter-plus(type='button' aria-label='Увеличить количество') +

					br
					h4 Футер в popUp окне
					.popUp-footer
						.container-gap-20
							.counter-wrapper
								.counter-wrapper__group
									span.txt-bold Количество:
									.counter
										button.counter-minus(type='button' aria-label='Уменьшить количество') –
										span.counter-value(contenteditable='true') 2
										button.counter-plus(type='button' aria-label='Увеличить количество') +
								.counter-wrapper__group
									p.prod-weight Вес: 550 гр.
							
							.popUp-price-wrapper
								.price-box
									span.new-price от 600 &#8381;
									span.old-price 800 &#8381;
									
								button.btn-accent 
									span.hide-sm В корзину
									span.vixible-sm