include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 Компоненты

				.container-dashboard__content
					.h3 Хлебные крошки
					ul.breadcrumbs
						li
							a(href="index.html") Главная
						li
							a(href="#!") Доставка
						
					br
					.h3 Аккордеон
					.accordion
						//single item
						.accordion__item
							.accordion__title
								.accordion-btn Свободный рынок
								span.icon-arr
							
							.accordion__content
								
								p Почти в любом городе России частных домов престарелых или нет совсем, или единицы: на Москву и Московскую область приходится 100 домов, на Петербург и Ленобласть — 40, а в Новосибирске с численностью населения около 1,5 млн человек всего 2 частных дома престарелых.
						
						//single item
						.accordion__item
							.accordion__title
								.accordion-btn Нет конкуренции со стороны государства
								span.icon-arr
							
							.accordion__content
								p Почти в любом городе России частных домов престарелых или нет совсем, или единицы: на Москву и Московскую область приходится 100 домов, на Петербург и Ленобласть — 40, а в Новосибирске с численностью населения около 1,5 млн человек всего 2 частных дома престарелых.
					
					br
					.app-block
						.app-block__item
							img(src='../img/news/app1.webp', srcset='../img/news/app1@2x.webp 2x' width='180' height='60' loading='lazy' alt='img')
						.app-block__item
							img(src='../img/news/app2.webp', srcset='../img/news/app2@2x.webp 2x' width='180' height='60' loading='lazy' alt='img')
					
					
					.h4 Price blocks
					.price-box
						span.new-price от 600 &#8381;
						span.old-price 800 &#8381;
					
					pre.
						.price-box
							span.new-price от 600 &#8381;
							span.old-price 800 &#8381;
					br
					.counter-wrapper__group
						span.txt-bold Количество:
						.counter
							button.counter-minus(type='button' aria-label='Уменьшить количество') –
							span.counter-value(contenteditable='true') 2
							button.counter-plus(type='button' aria-label='Увеличить количество') +
					pre.
						.counter-wrapper__group
							span.txt-bold Количество:
							.counter
								button.counter-minus(type='button' aria-label='Уменьшить количество') –
								span.counter-value(contenteditable='true') 2
								button.counter-plus(type='button' aria-label='Увеличить количество') +

					br
					h3 Для корзины Итог
					.total
						.total__txt Итого: 
						.total__group
							.total__count 4 шт. на сумму
							.price-box 1675 #[small руб.]
					hr
					h3 Для корзины товаров
					.round-label
						span 42см
					.round-label
						span Традиционное
					
					hr
					h4 Футер в popUp окне
					.popUp-footer
						
						.counter-wrapper__group
							.counter-wrapper
								span.txt-bold Количество:
								.counter
									button.counter-minus(type='button' aria-label='Уменьшить количество') –
									span.counter-value(contenteditable='true') 2
									button.counter-plus(type='button' aria-label='Увеличить количество') +
							.flex-sm
								p.prod-weight Вес: 550 гр.
						
						.popUp-price-wrapper
							.price-box
								span.new-price от 600 &#8381;
								span.old-price 800 &#8381;
								
							button.btn-accent 
								span.hide-sm В корзину
								span.flex-sm +630
