include ../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard(style="background-color: lightblue;")

		include ui-navigation.pug

		block content
			.container-dashboard
				h2 иконки
				.container-dashboard__content
					svg.svg-login
						use(href='../img/sprite.svg#svg-login')
					br

					svg.svg-outline
						use(href='../img/sprite.svg#svg-outline')
					br
					svg.svg-reload
						use(href='../img/sprite.svg#svg-reload')
					br
					svg.svg-menu
						use(href='../img/sprite.svg#svg-menu')
					br
					span.basket-btn
					span.signin-btn
					span.carret-down
					br
					svg.svg-star
						use(href='../img/sprite.svg#svg-star')
					br
					svg.svg-discount
						use(href='../img/sprite.svg#svg-discount')
					br
					svg.svg-info
						use(href='../img/sprite.svg#svg-info')
					br
					svg.svg-list
						use(href='../img/sprite.svg#svg-list')
					br
					svg.svg-delete
						use(href='../img/sprite.svg#svg-delete')
					br
					svg.svg-doc
						use(href='../img/sprite.svg#svg-doc')
					br
					svg.svg-favor
						use(href='../img/sprite.svg#svg-favor')
					br

					svg.svg-share
						use(href='../img/sprite.svg#svg-share')
					br
					svg.svg-explore
						use(href='../img/sprite.svg#svg-explore')
					br
					svg.svg-out
						use(href='../img/sprite.svg#svg-out')
					br
					svg.svg-wallet
						use(href='../img/sprite.svg#svg-wallet')
					br
					svg.svg-note
						use(href='../img/sprite.svg#svg-note')
					br
					svg.svg-alarm
						use(href='../img/sprite.svg#svg-alarm')
					br
					svg.svg-flag
						use(href='../img/sprite.svg#svg-flag')
					br
					svg.svg-assig
						use(href='../img/sprite.svg#svg-assig')
					br
					svg.svg-trolley
						use(href='../img/sprite.svg#svg-trolley')
					br
					svg.svg-plus
						use(href='../img/sprite.svg#svg-plus')
					br
					svg.svg-note
						use(href='../img/sprite.svg#svg-note')
					br
					svg.svg-check 
						use(href='../img/sprite.svg#svg-check ')
					br
					svg.svg-phone
						use(href='../img/sprite.svg#svg-phone')
					br
					svg.svg-pin
						use(href='../img/sprite.svg#svg-pin')
					br
					svg.svg-plus
						use(href="../img/sprite.svg#svg-plus")
					br
					pre.
						svg.svg-plus
							use(href="../img/sprite.svg#svg-plus")
					svg.svg-cross
						use(href="../img/sprite.svg#svg-cross")
					pre.
						svg.svg-cross
							use(href="../img/sprite.svg#svg-cross")
					span.icon-arr
					pre.
						.icon-arr
					br
					svg.svg-arr
						use(href='../img/sprite.svg#svg-arr')
					pre.
						svg.svg-arr
							use(href='../img/sprite.svg#svg-arr')
					br
					svg.svg-arr-left
						use(href='../img/sprite.svg#svg-arr-left')
					pre.
						svg.svg-arr-left
							use(href='../img/sprite.svg#svg-arr-left')
					br
					svg.svg-circle-check
						use(href='../img/sprite.svg#svg-circle-check')
					pre.
						svg.svg-circle-check
							use(href='../img/sprite.svg#svg-circle-check')
					

