@use "../base/var" as *;
.footer{
	background-color: $p2;
	overflow: hidden;
	color: white;
}
.footer .footer-content{
	position: relative;
	padding-block: 20px;
	width: 370px;
	padding-right: 40px;
	display: flex;
	flex-direction: column;
	row-gap: 14px;
	@media (max-width: 1364px) {
		padding-block:remy(20);
		width: remy(370);
		padding-right: remy(40);
		row-gap: remy(14);
	}
	@media (max-width: 767px) {
		padding-block:20px;
		padding-right: 0;
		row-gap: 20px;
		width: 100%;
	}
}
.footer  .logo{
	width: 170px;
	height: 69px;
	@media(min-width: 768px) and (max-width: 1364px) {
		width: remy(170);
	    height: remy(69);
	}
}
.footer .social{
	.social-item {
		background-color: #fff;
		svg{fill: $p;}
		&:hover{background-color: $a2;}
	}
	@media (max-width: 767px) {
	  column-gap:20px;
	}
}
.footer .contacts-phones{
	gap: 10px 20px;
	flex-wrap: wrap;
	.phone-item{
		color: white;
		 &:hover{color: $a2;} }
	
	@media (max-width: 1364px) {
		gap: remy(10) remy(20);
	}
	@media (max-width: 767px) {
		gap: remy(10);
	}
}
.footer .schedule-block{
	color: white;
	
}
.footer address{
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	@media(min-width: 768px) and (max-width: 1364px) {
		font-size: remy(14);
	}
}
.footer .email-link{
	font-weight: 700;
	font-size: 14px;
	line-height: 157%;
	transition: .3s; 
	
	&:hover{color: white;}
	@media(min-width: 768px) and (max-width: 1364px) {
		font-size: remy(14);
		
	}
}
.footer-copyright {
	
	font-weight: 400;
	font-size: 14px;
	line-height: 143%;
	color: var(--white);
	@media (max-width: 1364px) {
		
		font-size: remy(14);
	}
	@media (max-width: 767px) {
	 
	  font-size: 14px;
	}
}
.footer.footer-has-map{
	.footer-copyright {
		margin-top: 20px;
		
		@media (max-width: 1364px) {
			margin-top: remy(20);
			
		}
		@media (max-width: 767px) {
		  margin-top: 50px;
		 
		}
	}
	.footer .email-link{
		margin-top: -10px;
		@media(min-width: 768px) and (max-width: 1364px) {
			margin-top: remy(-10);
		}
	}
}
.politic-box{
	display: flex;
	column-gap: 10px;
	
	a{
		font-weight: 400;
		font-size: 12px;
		line-height: 150%;
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: var(--secondary-5);
		@media(min-width: 768px) and (max-width: 1364px) {
			font-size: remy(12);
		}
		
	}
}
.footer .footer-map{
	position: absolute;
	top: 0;
	bottom: 0;
	left:370px;
	width: 70vw;
	z-index: 2;
	img, iframe{
		object-fit: cover;width: 100%;height: 100%;
	}
	@media (max-width: 1364px) {
		left:remy(370);
	}
	@media (max-width: 767px) {
		width: 100vw;
		position: relative;
		left: auto;
		top: auto;
		bottom: auto;
		height: 266px;
		margin-top: -20px;
		left: 50%;
		transform: translateX(-50%);
	}

}

/*FOOTER ROW*/
.footer.footer-light{
	.footer-row{
		display: flex;
		justify-content: space-between;
		padding-top: 40px;
		padding-bottom: 60px;
		@media (max-width: 1364px) {
			padding-top:remy(40);
			padding-bottom: remy(60);
		}
		@media (max-width: 767px) {
			flex-direction: column;
			row-gap:30px;
			padding-top: 40px;
			padding-bottom: 36px;
		}
	}
	.schedule-block{
		display: block;
		max-width: 170px;
		@media (max-width: 1364px) {
			max-width: remy(170);
		}
		@media (max-width: 767px) {
			max-width: 100%;
		}
	}
	.footer-bottom{
		padding-block: 20px;
		border-top: 1px solid $s5;
		@media (max-width: 1364px) {
			padding-block: remy(20);
		}
		@media (max-width: 767px) {
			padding-block: 20px;
		}
	}
	
	.footer-menu-list{
		li +li{margin-top: 10px;}
		@media (max-width: 1364px) {
			li +li{margin-top: remy(10);}
		}
		@media (max-width: 767px) {
			li +li{margin-top: 10px;}
		}
	}
	.footer-contacts{
		text-align: right;
		display: flex;
		flex-direction: column;
		row-gap:20px;
		align-items: flex-end;
		.email-link:hover{color: $a2;}
		.phone-item{
			font-weight: 700;
			font-size: 34px;
			line-height: 71%;
		}
		@media(min-width: 767px) and (max-width: 1919px) {
			row-gap:remy(20);
			.phone-item{
				font-size: remy(35);
			}
		}
		@media (max-width: 767px) {
			align-items: flex-start;
		}
		
	}
	.contacts-phones{
		flex-direction: column;
	}
	.footer-address, .footer-logo{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		row-gap:20px;
	}
	.politic-box{
		margin-top: 6px;
		@media (max-width: 1919px) {
			margin-top: remy(6);
		}
		@media (max-width: 767px) {
			margin-top: 6px;
		}
	}
	
}