@use "../base/var" as *;

header.header{
	background-color: #fff;
	border-bottom: 1px solid $s1;
	height: 140px;
	position: sticky;
	transition: .3s;
	top:0;
	z-index: 5;
	&.header-special{border-bottom: 0;}
	&.header-special.header--slim{border-bottom: 1px solid $s1;}
	@media (max-width: 767px) {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		top:auto;
		// z-index: 5;
		border-top:1px solid $s1;
	}
	@media (max-width: 1364px) {
		height: remy(140);
	}
	@media (max-width: 767px) {
	 height: 72px;
	 display: flex;
	 align-items: center;
	}
}
@media (min-width: 768px) {
	.header.header--slim{
		transform: translateY(-50%);
		.logo {transform: scale(.6) translateY(63%);}
		
	}
}

// HEADER
.header-row{
  display: flex;
  column-gap: 68px;
  padding-top: 23px;
  @media (max-width: 1364px) {
	column-gap: remy(68);
	padding-top: remy(23);
  }
  @media (max-width: 767px) {
	column-gap: 20px;
	padding-top: 0;
  }
}
.header-content{
	flex:1;
	display: flex;
	flex-direction: column;
	row-gap: 27px;
	@media (max-width: 1364px) {
		row-gap: remy(26);
	}
}
.header-top, .header-bottom{
	width: 100%;
	display: flex;
	column-gap:20px;
	@media (max-width: 1364px) {
		column-gap: remy(20);
	  }
}
.header-top{
	position: relative;
	z-index: 4;
	padding-top: 15px;
	.schedule-block{flex: 1;}
	@media (max-width: 1364px) {
		padding-top: remy(15);
	  }
}
.header-profile{
	display: flex;
	align-items: center;
	column-gap:12px;
	flex-shrink: 0;
	margin-left: auto;
	@media (max-width: 1364px) {
		column-gap: remy(12);
	  }
}
.profile-status{
	cursor:pointer;
	flex-shrink: 0;

}
.logo{
	width: 262px;
	height: 94px;
	flex-shrink: 0;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	transition: .3s; 
	img, svg{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
	&:hover{opacity: .8;}
	@media (max-width: 1364px) {
		width: remy(262);
		height: remy(94);
	}
	@media (max-width: 767px) {
	width: 140px;
	height: 56px;
	}
}
.header-row .logo{margin-right: auto;}
.schedule-block{
	display: flex;
	column-gap:5px;
	color: $p;
	font-size: 14px;
	line-height: 157%;
	text-transform: uppercase;
	small{text-transform: lowercase;}
	@media(min-width:768px) and (max-width: 1364px) {
		font-size: remy(14);
		column-gap:remy(5);
	  }
	  @media (max-width: 767px) {
	     font-size: 12px;
		 p strong{text-transform: capitalize; font-weight: 400;;}
	  }
}
.header-navigation .schedule-block{
	@media (max-width: 767px) {
		color: white;
		display: block;
		p{
			display: inline-block;
		}
	}
}

.phone-item{
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	
	color: var(--primary);
	transition: .3s; 
	&:hover{color: $s5;}
	display: inline-block;
	@media(min-width: 768px) and (max-width: 1364px) {
		font-size: remy(16);
	
	  }
}
.count-notify{
	position: absolute;
	z-index: 2;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-size: 12px;
	background-color: $a2;
	text-align: center;
	color: var(--primary);
	right: 0;
	top: 0;
	transform: translate(50%, -50%);
	@media(min-width: 768px) and (max-width: 1364px) {
		width: remy(20);
	    height: remy(20);
	   font-size: remy(12);
	
	  }
}
.phone-list{
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	.phone-item{
		position: relative;
		z-index: 2;
	}
	.carret-down{
		position: absolute;
		right: 0px;
		top: 2px;
		z-index: 2;
		cursor:pointer;
		transition: .3s; 
	}
	&__drop{
		position: absolute;
		
		left: 0;
		width: 160px;
		top:0;
		padding-right: 18px;
		
		.phone-item__box{
			padding-top: 30px;
			display: none;
			
		}
		.phone-item{
			box-shadow: 0 1px 7px 0 rgba(0, 0, 0, 0.08);
			width: fit-content;
			border-radius: 6px;
			padding: 0px 10px;
			width: 146px;
			display: flex;
			align-items: center;
			transition: .3s; 
			position: relative;
			z-index: 5;
			
		}
		@media (max-width: 1364px) {
			width: remy(160);
			padding-right: remy(18);
			.phone-item__box{padding-top: remy(30);}
			.phone-item{
				padding: 0px remy(10);
				width: remy(146);
			}
		  }
	}
	&__drop:hover .phone-item__box{
		display: flex;
		z-index: 5;
		background-color: #fff;
	}
	&__drop:hover .carret-down{
		transform: rotate(180deg);
	}
	@media (max-width: 1364px) {
		padding-left: remy(10);
	   padding-right: remy(10);
	
	  }
}
.header-navigation{
	.contacts-phones,
	.schedule-block{
		display: none;
		@media (max-width: 767px) {
			display: block;
		}
	}
	.contacts-phones{
		@media (max-width: 767px) {
			display:flex;
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
}

.header-menu__list{
	position: relative;
	
	ul{
		display: flex;
		
		column-gap:24px;
		@media (max-width: 1364px) {
			column-gap:remy(24);
		}
	}
	.menu-item  .menu-link{
		padding-block: 2px;
		border-bottom: 1px solid transparent;
		font-weight: 400;
		font-size: 16px;
		white-space: nowrap;
		color: var(--primary);
		transition: .3s; 
		display: inline-block;
		&:hover{
			color: $a2;
			border-bottom-color: $a2;
			@media (max-width: 767px) {
				color: white;
				border-bottom: 0;
			}
		}
		@media(min-width: 768px) and (max-width: 1364px) {
			padding-block: remy(3);
			font-size: remy(16);
		}
		@media (max-width: 767px) {
		 border-bottom:0;
		}
	}
	.menu-item.active .menu-link{
		color: $a2;
		border-bottom-color: $a2;
	}
	.menu-item.has-drop {
		.svg-carret{display: none;}
	}
}
.header-menu__list .sub-menu{
	position: absolute;
	
	background-color: white;
	top:50px;
	left: 0;
	right: 0;
	z-index: 9;
	height: 0;
	overflow: hidden;
	transition: .3s;
	.sub-menu-link{
		font-size: 16px;
		line-height: 1.5;
		display: block;
	}
	@media (max-width: 1364px) {
		
		top:remy(50);
		.sub-menu-link{font-size: remy(16);}
	}
	@media (max-width: 767px) {
		.sub-menu-link{font-size: 16px;}
	}
}

header.header:after{
	content:'';
	height: 0;
	background-color: #fff;
	position: absolute;
	top: 100%;
	height: 0;
	left: 0;
	right: 0;
	transition: .3s; 
	z-index: 3;
	@media (max-width: 767px) {
	display: none;
	}
}
header.header.show-after:after{
	height: 64px;
	@media (max-width: 1364px) {
		height: remy(64);
	}
}
.header-menu__list .sub-menu.active{
	height: 64px;
	@media(min-width: 768px) and (max-width: 1364px) {
		height: remy(64);
		
	}
	@media (max-width: 767px) {
		height: auto;
	}
}
.header-menu__list .sub-menu ul{
	position: relative;
	z-index: 2;
}
.header-mobile{
	height: 75px;
	background-color: #fff;
	display: none;
	border-bottom:1px solid $s1;
	align-items:center;
	.container{
		display: flex;
		justify-content: space-between;
		column-gap: 10px;
		width: 100%;
		align-items:center;
	}
	
	@media (max-width: 767px) {
		display: flex;
	   position:sticky;
	   top:0;
	   z-index: 5;
	}
	
}
.contacts-phones{
	display: flex;
	gap:10px;
	// padding-top: 16px;
	// padding-bottom: 16px;
	flex-shrink: 0;
}
@media (max-width: 767px) {
	.header{
		.container{width: 100%;}
		.header-profile{
			margin-left: 0;
		}
		.header-top, .logo{display: none;}
	}
	.header-bottom{
		justify-content: space-between;
	}
	.header-navigation{
		display: flex;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: rgba(255, 255, 255, 0.8);
		transform: translateX(-100%);
		transition: .3s; 
		display: flex;
		z-index:9;
		
		&.active{transform: translateX(0);}
		.phone-item{color: white;}
		.contacts-phones{
			flex-direction: column;
		}
		.schedule-block{padding-top: 16px; flex-shrink: 0;}
	}
	
	.header-menu__list .menu-item .menu-link{
		color: white;
		line-height: 1.5;

	}
	.header-menu{
		display: flex;
		flex-direction: column;
		padding: 20px 10px 100px;
		background-color: $p;
		row-gap:20px;
		width: 300px;
		height: 100vh;
		overflow: hidden;
		overflow-y: auto;
		scrollbar-width: none;
		&>*{width: 100%;}
		&>*+*{border-top:1px solid $s5;}
		.sub-menu-link{
			color: $s5;
			line-height: 1.5;
		}
	}
	.header-menu__list{
		flex:1;
		.menu-item.has-drop {
			position: relative;
			
			.svg-carret{
				display: block;
				position: absolute;
				right: 0;
				top: 12px;
				color: white;
			}
		}
	}
	.header-menu__list ul{
		flex-direction: column;
		row-gap: 16px;
		.sub-menu{
			background-color: transparent;
			position: relative;
			top: auto;
			height:0;
			overflow: hidden;
			ul{
				flex-direction: column;
				row-gap:12px;
				// border-bottom: 1px solid $s5;
				// border-top: 1px solid $s5;
				// margin-top: 16px;
				// margin-bottom: 16px;
				padding: 16px 0px;
			}
			&-item:first-child,&-item:last-child{
				position: relative;
				&:after{
					content: '';
					height: 1px;
					width: 100%;
					position: absolute;
					top: -15px;
					left: 0;
					right: 0;
					background-color: $s5;;
				}
			}
			&-item:last-child:after{top: auto; bottom:-15px;}
		}
	}
}