@use "../base/var" as *;
.news-card{
	&__img{
		height: 218px;
		border-radius: 24px;
		overflow: hidden;
		margin-bottom: 10px;
	
		@media (max-width: 1364px) {
			height: remy(218);
			border-radius: remy(24);
			margin-bottom: remy(10);
		}
		@media (max-width: 767px) {
			height: 167px;
			margin-bottom: 10px;
			border-radius: 24px;
		}
	}
}
.mySwiper__nav,
.swiper-box > [class*="__nav"] {
	.swiper-button-prev,
	.swiper-button-next{
		width: 48px;
		height: 48px;
		border-radius: 50%;
		border:1px solid currentColor;
		color: #1f1f1f;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 50%;
		color: $p;
		svg{
			width: 24px;
			height: 24px;
		}
		&.swiper-button-disabled{opacity: 0.3;}
		&:after{
			display: none;
		}
	}
	.swiper-button-prev{left: -58px;}
	.swiper-button-next{right: -58px;}
	.swiper-button-prev{
		svg{
			transform: rotate(180deg);
		}
	}
	@media (max-width: 1364px) {
		width: remy(48);
		height:remy(48);
		svg{
			width: remy(24);
			height: remy(24);
		}
		.swiper-button-prev{left: remy(-58);}
	    .swiper-button-next{right: remy(-58);}
	}
	@media (max-width: 1199px) {
	  display: none;
	}
}


.swiper-box{position: relative;
	@media (max-width: 767px) {
		width: calc(50% + 50vw);
	}
}