@use "../base/var" as *;
.form-col,.form-fields-col{
	display: inline-flex;
	flex-direction: column;
	row-gap: 20px;
}
.order-form-body{
	display: grid;
	font-size: 10px;
	grid-template-columns:1fr 1fr;
	column-gap:3em;
	
	.form-fields{
		display: flex;
		flex-direction: column;
		row-gap:3em;
		.form-item +.form-item {margin-top: 0;}
	}
	@media (max-width: 1364px) {
		font-size: remy(10);
		grid-template-columns: .75fr 1.25fr;
		.form-col{width: 100%;}
	}
	@media (max-width: 767px) {
		font-size: 10px;
		grid-template-columns: 1fr;
		row-gap: 20px;
	}
}
.order-form-group{
	column-count: 2;
    page-break-inside: avoid;
    break-inside: avoid;
	column-gap:6.5em;
	.form-col{margin-bottom: 3.2em; }
	@media (max-width: 1919px) {
		column-gap:remy(30);
	}
	@media (max-width: 767px) {
		column-count:1;
		.form-col{margin-bottom: 2em; }
	}
}

.form-delivery-block,.form-payment-block{
	width: 23.5em;
	@media (max-width: 1364px) {
		width: 100%;
	}
}
.form-time-block{
	width: 27em;
	.label-text{flex-grow: 1;}
	.form-time-radio{
		.form-item{
			margin-top: 6px;
			margin-left: 24px;
			
		}
	}
	@media (max-width: 1364px) {
		width: 100%;
	}
}
.form-promo-row.flex{
	column-gap: .8em;
	&+.txt-12{margin-top: .5em;}
	.form-item{flex:1;}
}
.form-subscribe.form-col{
	row-gap:.6em;
}
.form-subscribe-group.flex{
	column-gap:.5em;
	.txt-12 {margin-right: 1em; white-space: nowrap;}
	.relative-label +.relative-label{margin-left: .6em;
	}
}
.form-subscribe-group.flex + .txt-12{
	margin-left: 1.6em;
}
.order-form{
	.order-total-offset-right .total{
		margin-left:auto;
		width: 570px;
		@media (max-width: 1364px) {
			width: remy(670);
		}
		@media (max-width: 767px) {
		width: 100%;
		margin-left:0;
		}
		
	}
	.tooltip-wrapper{
		top: 10px;
		right: 16px;
	}
}

.order-form-footer{
	// display: flex;
	// flex-direction: column;
	@media (max-width: 767px) {
		.form-agree{margin-bottom: 20px;}
	}
}
/*order2*/
.form-item-house.flex{
	column-gap: 3em;
	align-items: flex-end;
	.form-item{flex:1;}
	.relative-label{flex-shrink:0;}
}
.form-item-appartament{
	column-gap:10px;
	.form-item{flex:1;}
}
.form-agree-wrapper{
   &>*+*{margin-top: 20px;}
}
.order-form-buttons{
	gap:20px;
	justify-content: space-between;
	@media (max-width: 767px) {
	flex-direction: column-reverse;
	}
}
.note-box{
	border: 1px solid var(--accent-color-2);
	border-radius: 10px;
	padding: 10px;
	display: flex;
	column-gap:10px;
	background-color: #fff;
}
#delivery-courier-fields{
	height: 0;
	overflow: hidden;
	transition: .3s; 
	&.filds-visible{height: 130px;}
}
.order-product{
	font-size: 16px;
	padding: 1.25em;
	background-color: #fff;
	border: 1px solid var(--secondary-1);
	border-radius: 20px;
	padding: 20px;
	.product-name{
		font-family: var(--second-family);
		font-weight: 700;
		font-size: 1.5em;
		line-height: 1.25;
		flex:1;
	}
	.product-summ-group{
		flex-shrink: 0;
		display: flex;
		column-gap:.65em
	}
   .product-summ{font-weight: 700}
}
.order-product__row{
	display: flex;
	justify-content: space-between;
	column-gap: 1em;

}
.order-product__body{
	font-size: 14px;
	padding-top: 0.8em;
}