@use "../base/var" as *;
.our-garantee{
	.h2{text-align: center;}
}
.our-garantee-content{
	display: flex;
	justify-content: space-around;
	padding-bottom: 45px;
	@media (max-width: 1364px) {padding-bottom: remy(45);}
	@media (max-width: 767px) {
	  padding-bottom: 0;
	  display: grid;
	  grid-template-columns:  1fr 1fr;
	  gap:10px;
	}
}
.garantee-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap:10px;
	text-align: center;
	max-width: 180px;
	img{
		width: 70px;
		height: 70px;
		object-fit: contain;
		object-position: center;
		@media (max-width: 1364px) {
			width: remy(70);
			height: remy(70);
		}
		@media (max-width: 767px) {
			width: 46px;
			height: 46px;
		}
	}
	.garantee-item__txt{
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		text-align: center;
		color: var(--primary);
	}
	@media (max-width: 1364px) {
		max-width: remy(180);
		row-gap: remy(10);
		.garantee-item__txt{
			font-size: remy(16);
		}
	}
	@media (max-width: 767px) {
		max-width: 160px;
		row-gap:10px;
		.garantee-item__txt{
			font-size: 14px;
			line-height: 143%;
		}
	}
}