@use "../base/var" as *;
.popup-basket{
	background-color: rgba(0,0,0, .5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
	z-index: 10;
	.popup-basket-content{
		background-color: #fff;
	    width: 100%;
		font-size: 10px;
		max-width: 52.5em;
		padding: 4em 3em;
		
	}
}