@use "../base/var" as *;
.popup-basket{
	background-color: rgba(0,0,0, .5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: flex-end;
	z-index: 10;
	
	.popup-basket-content{
		background-color: #fff;
	    width: 100%;
		font-size: 10px;
		max-width: 52.5em;
		padding: 4em 3em;
		height: 100%;
		overflow: hidden;
	    overflow-y: auto;
		display: flex;
		flex-direction: column;
		row-gap:30px;
		&>*{width: 100%;}
		@media (max-width: 767px) {
		 padding: 57px 10px;
		 row-gap:20px;
		 max-width: 36em;
		 .order-header__group{
			flex-direction: column;
			align-items: center;
		 }
		 .order-steps{justify-content: space-between;}
		 
		}
	}
	@media (max-width: 767px) {
		.round-close{
			position: relative;
			left: 54px;
			top:40px;
			z-index: 2;
			

		 }
	}
}

.popup-swiper{
	.swiper-slide{
		width: 311px!important;
	}
}