mixin basket-card
	.basket-card
		//image
		.basket-card__img
			img.img-contain(src='../img/goods/pizza-h370.webp', srcset='../img/goods/pizza-h370@2x.webp 2x' width='' height='' loading='lazy' alt='img')
		.basket-card__group
			//title group
			.basket-card__title
				.basket-card__product
					.basket-card__name Пицца Особая
					.prod-weight Вес: 550 гр.
				.basket-card__row
					.round-label
						span 42см
					.round-label
						span Традиционное
			
			//text group
			.basket-card__text
				.basket-card__desk Говядина, халапеньо, моцарелла, помидоры, куриное филе, томатный соус.
				.basket-card__add
					p Дополнительно: Сыр моцарелла 50 гр. Пепперони 30 гр. Ветчина 30 гр. Маслины 20гр. Оливковое масло 20 гр.
					button.remove-basket-add
						svg.svg-cross
							use(href='../img/sprite.svg#svg-cross')
			
		//price group
		.basket-card__total
			.prod-weight Вес: 550 гр.
			//counter
			.counter
				button.counter-minus(type='button' aria-label='Уменьшить количество') –
				span.counter-value(contenteditable='true') 2
				button.counter-plus(type='button' aria-label='Увеличить количество') +
			//price
			.price-box
				span 600 #[small &#8381;]
			//remove card
			button.basket-card__remove
				svg.svg-delete
					use(href='../img/sprite.svg#svg-delete')
				svg.svg-cross
					use(href='../img/sprite.svg#svg-cross')


section.basket-page
	.container
		.cart-page__header
			h1.h2 Корзина
		.basket-page-content
			+basket-card
			+basket-card
			+basket-card