section.reccomend-products
	.container
		.title-wrapper
			h2.h4-upper Часто заказывают
		
		.reccomend-slider-wrapper.swiper-box
			//slider nav
			.reccomend-slider__nav
				button.swiper-button-prev
				button.swiper-button-next
			//slider
			.reccomend-slider.swiper
				.swiper-wrapper
					.swiper-slide
						.card-short
							.card-short__img
								img(src='./img/goods/pizza2-h370.webp', srcset='./img/goods/pizza2-h370@2x.webp 2x' width='104' height='104' loading='lazy' alt='img')
							.card-short__txt
								p.txt-14 Пепперони фреш
								.price-box
									span.new-price от 450&#8381;
									
					.swiper-slide
						.card-short
							.card-short__img
								img(src='./img/goods/kola.webp', srcset='./img/goods/kola@2x.webp 2x' width='104' height='104' loading='lazy' alt='img')
							.card-short__txt
								p.txt-14 Пепперони фреш
								.price-box
									span.new-price 600&#8381;
									span.old-price 800&#8381;
					.swiper-slide
						.card-short
							.card-short__img
								img(src='./img/goods/fri.webp', srcset='./img/goods/fri@2x.webp 2x' width='104' height='104' loading='lazy' alt='img')
							.card-short__txt
								p.txt-14 Пепперони фреш
								.price-box
									span.new-price 600&#8381;
					.swiper-slide
						.card-short
							.card-short__img
								img(src='./img/goods/fri2.webp', srcset='./img/goods/fri2@2x.webp 2x' width='104' height='104' loading='lazy' alt='img')
							.card-short__txt
								p.txt-14 Пепперони фреш
								.price-box
									span.new-price 600&#8381;
					.swiper-slide
						.card-short
							.card-short__img
								img(src='./img/goods/souse4.webp', srcset='./img/goods/souse4@2x.webp 2x' width='104' height='104' loading='lazy' alt='img')
							.card-short__txt
								p.txt-14 Пепперони фреш
								.price-box
									span.new-price 600&#8381;
									span.old-price 800&#8381;
								