section.cta
	.cta-content(style="background-image: url(../img/images/cta.webp)")
		.container
			.title-wrapper
				.h2.txt-white Для лучшего вкуса и&nbsp;аромата блюд
				p.txt-16.txt-white Мы используем специальные специи c Кавказа, создающие неповторимый вкус



