section.delivery-page
	.container
		h1.title Доставка и оплата
		.delivery-content
			.delivery-mode.delivery-row
				//single block
				.deliv-list.grey-bg
					.deliv-list__title Бесплатная доставка
					.deliv-item
						img(src='../img/icons/cash.svg' width='24' height='24' loading='lazy' alt='img')
						.deliv-item__txt
							.deliv-title Минимальная сумма заказа 500 ₽
							p Мы осуществляем бесплатную доставку еды на дом. Чтобы воспользоваться нашими предложением, оформите заказ стоимостью от 500 рублей.
					.deliv-item
						img(src='../img/icons/rocket.svg' width='24' height='24' loading='lazy' alt='img')
						.deliv-item__txt
							.deliv-title Доставка от 45 минут
							p Мы осуществляем бесплатную доставку еды на дом. Чтобы воспользоваться нашими предложением, оформите заказ стоимостью от 500 рублей.
				
				//single block
				.deliv-list.grey-bg
					.deliv-list__title Самовывоз
					.deliv-item
						img(src='../img/icons/home.svg' width='24' height='24' loading='lazy' alt='img')
						.deliv-item__txt
							.deliv-title Адрес
							p г. Название города, ул. Название улицы, д. 25
					.deliv-item
						img(src='../img/icons/time.svg' width='24' height='24' loading='lazy' alt='img')
						.deliv-item__txt
							.deliv-title Режим работы:
							p - Среда - Четверг - Воскресенье с 15:00 - 00:00<br>- Пятница - Суббота 15:00-02:00<br>- Понедельник - Вторник - выходные дни:)
				
			.deliv-text
				p Если хочется отведать чего‑нибудь вкусного, но при этом нет ни времени, ни желания стоять у плиты, правильным решением станет доставка еды домой. Именно эту услугу предлагает клиентам наша мини-пиццерия.Наш сайт доставки еды гарантирует всем своим клиентам множество важных преимуществ, среди которых возможность совершения заказа и предзаказа в любое время, оперативная доставка к месту назначения и удобное оформление заявок. Вы также оцените привлекательную стоимость блюд, а так же их несомненное качество.
			
			.delivery-article
				//PAYMENT
				.title-34 Платите как удобно!
				.payment-mode.delivery-row
					.payment-mode__block
						.payment-block
							.h4 При получении
							.payment-types
								img(src='../img/cash.webp', srcset='../img/cash@2x.webp 2x' width='60' height='40' loading='lazy' alt='img')
								img(src='../img/visa.webp', srcset='../img/visa@2x.webp 2x' width='60' height='40' loading='lazy' alt='img')
								img(src='../img/mastercard.webp', srcset='../img/mastercard@2x.webp 2x' width='60' height='40' loading='lazy' alt='img')
								img(src='../img/mir.webp', srcset='../img/mir@2x.webp 2x' width='60' height='40' loading='lazy' alt='img')
								img(src='../img/sbp.webp', srcset='../img/sbp@2x.webp 2x' width='60' height='40' loading='lazy' alt='img')
						
						ul.text-list.txt-s5
							li Оплата заказа банковской картой при получении. Принимаются банковские карты MasterCard, Visa (кроме Visa Electron) и карты МИР.
							li Оплата наличными курьеру или в ресторане при получении заказа.
					
					.payment-mode__block
						.payment-block
							.h4 Картой онлайн
							.payment-types
								img(src='../img/cash.webp', srcset='../img/cash@2x.webp 2x' width='60' height='40' loading='lazy' alt='img')
								img(src='../img/visa.webp', srcset='../img/visa@2x.webp 2x' width='60' height='40' loading='lazy' alt='img')
								img(src='../img/mastercard.webp', srcset='../img/mastercard@2x.webp 2x' width='60' height='40' loading='lazy' alt='img')
								img(src='../img/mir.webp', srcset='../img/mir@2x.webp 2x' width='60' height='40' loading='lazy' alt='img')
								img(src='../img/sbp.webp', srcset='../img/sbp@2x.webp 2x' width='60' height='40' loading='lazy' alt='img')
						ul.text-list.txt-s5
							li Оплата заказа банковской картой при получении. Принимаются банковские карты MasterCard, Visa (кроме Visa Electron) и карты МИР.
							li Оплата наличными курьеру или в ресторане при получении заказа.
			
			
			
			//ACCORDION
			.delivery-faq.delivery-row
				.accordion
					.title-34 Ответы на вопросы
					//single item
					.accordion__item
						.accordion__title
							.accordion-btn Почему наша пиццерия?
							span.icon-arr
						
						.accordion__content
							
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis aperiam corporis reiciendis, nemo nihil suscipit dolor incidunt, aut, ipsa obcaecati deserunt. Ratione corrupti sapiente nisi, corporis voluptatum illo ad distinctio.
					
					//single item
					.accordion__item
						.accordion__title
							.accordion-btn В какое время доставляете заказ?
							span.icon-arr
						
						.accordion__content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis aperiam corporis reiciendis, nemo nihil suscipit dolor incidunt, aut, ipsa obcaecati deserunt. Ratione corrupti sapiente nisi, corporis voluptatum illo ad distinctio.
					//single item
					.accordion__item
						.accordion__title
							.accordion-btn Мне привезли не то, что делать?
							span.icon-arr
						
						.accordion__content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis aperiam corporis reiciendis, nemo nihil suscipit dolor incidunt, aut, ipsa obcaecati deserunt. Ratione corrupti sapiente nisi, corporis voluptatum illo ad distinctio.
				
				//SALE
				.delivery-discount.grey-bg
					.delivery-discount__txt
						.h4 Приложение #[span.txt-red Pizza and rolls]
						.txt-14.txt-s5 Скидка 20% на все меню в приложении с промокодом #[span.txt-red NEW20]
						.app-block
							.app-block__item
								img(src='../img/news/app1.webp', srcset='../img/news/app1@2x.webp 2x' width='180' height='60' loading='lazy' alt='img')
							.app-block__item
								img(src='../img/news/app2.webp', srcset='../img/news/app2@2x.webp 2x' width='180' height='60' loading='lazy' alt='img')
					
					.delivery-discount__img
						img(src='./img/app-sale.webp', srcset='./img/app-sale@2x.webp 2x' width='297' height='328' loading='lazy' alt='img')