section.our-discount
	.our-discount-bg(style="background-image: url(./img/images/discount.webp)")
		.container
			.our-discount-content
				
				.title-46 Акция!
				p.title-30 Пицца Баварская
				p.txt-14 Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты
				.price-box 630 &#8381;
				button.btn-accent(type="button") Купить

			.decore-sale
				span 1+1=3
