footer.footer.footer-has-map
	.container
		.footer-content
			.footer-map
				img(src='./img/map.webp' width='1175' height='434' loading='lazy' alt='img')
			
			
			a(href="#!").logo
				img(src='./img/logo-white.webp', srcset='./img/logo-white@2x.webp 2x' width='170' height='69' loading='lazy' alt='img')
			+social
			address Адрес: г. Москва, ул. Московская, 10
			a(href="mailto:").txt-accent.email-link info@pz.mcdir.ru
			.contacts-phones
				a(href="tel:+79055555555").phone-item +7 (905) 555-55-55
				a(href="tel:+79055555555").phone-item +7 (905) 555-55-55
			.schedule-block
				p #[strong Прием заказов:]  Прием заказов: СР, ЧТ, ВС с 15:00 - 00:00; ПТ, СБ с 15:00 - 02:00; ПН, ВТ - выходные дни
				 
			a(href="#!" data-btn="feedback-form").btn.w-auto Написать нам
			
			.footer-copyright
				p © 2018-2020.Пицца и роллы | Доставка пиццы и роллов
			.politic-box
				a(href="#!") Политика конфиденциальности
				a(href="#!") Политика Cookies

