footer.footer
	.footer-map
		img(src='./img/map.webp' width='1175' height='434' loading='lazy' alt='img')
	
	.container
		.footer-content
			.footer-logo
				a(href="#!").logo
					img(src='./img/logo-white.webp', srcset='./img/logo-white@2x.webp 2x' width='170' height='69' loading='lazy' alt='img')
				+social
