footer.footer.footer-light
	.container
		.footer-row
			.footer-logo
				a(href="#!").logo
					img(src='./img/logo-white.webp', srcset='./img/logo-white@2x.webp 2x' width='170' height='69' loading='lazy' alt='img')
				+social
			.footer-menu
				ul.footer-menu-list
					li
						a(href="delivery.html") Доставка и оплата
					li
						a(href="news.html") Новости и акции
					li
						a(href="about.html") О нас
					li
						a(href="contacts.html") Контакты
			
			.footer-address
				address Адрес: г. Москва, ул. Московская, 10
				.schedule-block
					p
						strong Прием заказов:
					p  СР, ЧТ, ВС с 15:00 - 00:00;<br>ПТ, СБ с 15:00 - 02:00;<br>ПН, ВТ - 
						small выходные дни
			.footer-contacts
				.contacts-phones
					a(href="tel:+79055555555").phone-item +7 (905) 555-55-55
				a(href="mailto:").email-link info@pz.mcdir.ru
					
				a(href="#!").btn.w-auto Написать нам
				
				
		//bottom row
		.footer-bottom
			.footer-copyright
				p © 2018-2020.Пицца и роллы | Доставка пиццы и роллов
			.politic-box
				a(href="#!") Политика конфиденциальности
				a(href="#!") Политика Cookies

