//MOBILE HEADER TOP
.header-mobile
	.container
		a(href="index.html").logo
			img(src='./img/logo.webp', srcset='./img/logo@2x.webp 2x' width='232' height='94' loading='lazy' alt='img')
		.social
			a(href="#!").social-item
			a(href="#!").social-item
			a(href="#!").social-item
			a(href="#!").social-item

//HEADER
header.header
	.container
		.header-row
			a(href="index.html").logo
				img(src='./img/logo.webp', srcset='./img/logo@2x.webp 2x' width='232' height='94' loading='lazy' alt='img')
			.header-content
				//top row
				.header-top
					.schedule-block
						p
							strong Прием заказов:
						p  СР, ЧТ, ВС с 15:00 - 00:00; ПТ, СБ с 15:00 - 02:00; ПН, ВТ - 
							small выходные дни
					.social
						a(href="#!").social-item
						a(href="#!").social-item
						a(href="#!").social-item
						a(href="#!").social-item
				
					.phone-contacts
						a(href="tel:+79055555555").phone-item +7 (905) 555-55-55
						.phone-contacts__drop
							span.carret-down
							.phone-item__box
								a(href="tel:+79055555555").phone-item +7 (905) 555-55-55
				
				//bottom row
				.header-bottom
					.header-navigation
						.header-menu
							.header-menu__list
								ul
									li.menu-item.active
										a.menu-link(href="#!") Главная
									li.menu-item
										a.menu-link.has-drop#has-drop(href="#!") Меню
										.sub-menu#drop-menu
											ul
												li.sub-menu-item
													a(href="").sub-menu-link Пицца
												li.sub-menu-item
													a(href="").sub-menu-link Роллы
												li.sub-menu-item
													a(href="").sub-menu-link Блюда
												li.sub-menu-item
													a(href="").sub-menu-link Салаты
												li.sub-menu-item
													a(href="").sub-menu-link Закуски
												li.sub-menu-item
													a(href="").sub-menu-link Напитки
												li.sub-menu-item
													a(href="").sub-menu-link Наборы
									
									li.menu-item
										a.menu-link(href="#!") Доставка и оплата
									li.menu-item
										a.menu-link(href="#!") Новости и акции
									li.menu-item
										a.menu-link(href="#!") О нас
									li.menu-item
										a.menu-link(href="#!") Контакты
									
							
							.mobile-menu__contacts
								a(href="tel:+79055555555").phone-item +7 (905) 555-55-55
								a(href="tel:+79055555555").phone-item +7 (905) 555-55-55
							
							.schedule-block
								p
									strong Прием заказов:
								p  СР, ЧТ, ВС с 15:00 - 00:00; ПТ, СБ с 15:00 - 02:00; ПН, ВТ - 
									small выходные дни

					.header-profile
						.profile-status
							.signin-btn
								
						
						.basket-btn
							.count-notify 5

