//Горизонтальные в моб версии и для табов внутри табов
mixin card-horiz-tags(img, title, price, old)
	.product.horiz-w370(data-tags=""+ tags)
		.product__img
			.product-meta
				.tag-meta.tag-meta--new Новинка
				.tag-meta.tag-meta--sale Акция!
				.tag-meta.tag-meta--hit Популярное

			img.img-cover(src="./img/goods/"+ img +".webp", srcset="./img/goods/"+ img+"@2x.webp 2x" width="370" height="231" alt="img" loading="lazy")
		
		.product__body
			p.product__name !{title}
			block 
		
			.product__footer
				.price-box
					span.new-price от #{price} &#8381;
					if old
						span.old-price #{old} &#8381;
				
				button.btn.sm-w100(type="button")
					span Выбрать
section.product-assortiment
	.container.gap-88
		.product-assortiment-single
			.title-wrapper.txt-center
				.h2 Меню
				p.txt-16 Не будь жадиной - приводи своих друзей!<br>Пусть они тоже попробуют нашу божественную пиццу!
			
			.tabs-container.gap-40
				.tabs.scroll-sm
					.tab.active(data-tab-target='#content1') Все
					.tab(data-tab-target='#content2') Мясные
					.tab(data-tab-target='#content3') Рыбные
					.tab(data-tab-target='#content4') Овощные
					.tab(data-tab-target='#content5') Классика
					.tab(data-tab-target='#content6') Закрытые
				.tab-content-wrapper
					#content1.tab-content.active
						.grid-four-columns
							+card-horiz-tags('pizza2', 'Пицца Баварская', '650', 800)
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
							+card-horiz-tags('pizza1', 'Пицца Карбонара', '850')
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
							+card-horiz-tags('pizza3', 'Пицца Ранчоус', '650')
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
							+card-horiz-tags('pizza1', 'Мясная','650', 800)
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
							+card-horiz-tags('pizza2', 'Детская', '650')
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
							+card-horiz-tags('pizza3', 'Рыбная', '650', 800)
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
							+card-horiz-tags('pizza4', 'Мясная','650')
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
							+card-horiz-tags('pizza5', 'Детская', '650')
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
							+card-horiz-tags('pizza6', 'Рыбная', '650')
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.	
						
					#content2.tab-content
						.grid-four-columns
							+card-horiz-tags('pizza1', 'Мясная', '650', 800)
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
							+card-horiz-tags('pizza2', 'Детская', '650')
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
							+card-horiz-tags('pizza3', 'Рыбная','650', 800)
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
							+card-horiz-tags('pizza4', 'Мясная', '650')
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
							+card-horiz-tags('pizza5', 'Детская', '650')
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
							+card-horiz-tags('pizza6', 'Рыбная', '650')
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
						
					#content3.tab-content
						.grid-four-columns
							+card-horiz-tags('pizza2', 'Пицца Баварская', '650', 800)
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
							+card-horiz-tags('pizza5', 'Детская', '650')
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
							+card-horiz-tags('pizza6', 'Рыбная', '650')
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
					#content4.tab-content
						.grid-four-columns
							+card-horiz-tags('pizza2', 'Пицца Баварская', '650', 800)
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
							+card-horiz-tags('pizza1', 'Мясная', '650', 800)
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
							+card-horiz-tags('pizza2', 'Детская', '650')
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
							+card-horiz-tags('pizza3', 'Рыбная', '650', 800)
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
							+card-horiz-tags('pizza4', 'Мясная', '650')
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
						
					#content5.tab-content
						.grid-four-columns
							+card-horiz-tags('pizza2', 'Пицца Баварская', '650', 800)
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
							+card-horiz-tags('pizza2', 'Пицца Баварская', '650', 800)
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
							+card-horiz-tags('pizza1', 'Мясная', '650', 800)
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
						
					#content6.tab-content
						.grid-four-columns
							+card-horiz-tags('pizza2', 'Пицца Баварская', '650', 800)
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
							+card-horiz-tags('pizza2', 'Детская', '650')
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты. 
							+card-horiz-tags('pizza3', 'Рыбная', '650', 800)
								p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
		