section.products-menu
	.container
		.title-wrapper.txt-center
			h2.h2 Меню
		.products-categories
			.products-categories--grid.scroll-sm
				+catCard-flex(1,'Пицца','one-category.html')
				+catCard-flex(2,'Роллы','one-category.html')
				+catCard-flex(3,'Бургеры','one-category.html')
				+catCard-flex(4,'Закуски','one-category.html')
				+catCard-flex(5,'Напитки','one-category.html')
				+catCard-flex(6,'Десерты','one-category.html')
				+catCard-flex(7,'Салаты','one-category.html')
				+catCard-flex(8,'Наборы','one-category.html')