mixin card-horiz(img, title, price, old)
	.product.horiz-w370
		.product__img
			.product-meta
				.tag-meta.tag-meta--new Новинка
				.tag-meta.tag-meta--sale Акция!
				.tag-meta.tag-meta--hit Популярное

			img.img-cover(src="../img/goods/"+ img +".webp", srcset="../img/goods/"+ img+"@2x.webp 2x" width="370" height="231" alt="img" loading="lazy")
		
		.product__body
			p.product__name !{title}
			block 
		
			.product__footer
				.price-box
					span.new-price от #{price} &#8381;
					if old
						span.old-price #{old} &#8381;
				
				button.btn.sm-w100(type="button")
					span Выбрать

section.product-assortiment
	.container.gap-88
		.product-assortiment-single
			.title-wrapper
				.h2 Горизонтальные карточки в моб версии
			.grid-three-columns
				+card-horiz('pizza1', 'Пицца Пепперони', '650', 800, [{cl: 'new', txtTag: 'Новинка'}, {cl: 'sale', txtTag: 'Акция!'}])
					p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
				+card-horiz('pizza2', 'Пицца Карбонара', '650', 800,[{cl: 'hit', txtTag: 'Популярное'}])
					p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.
				+card-horiz('pizza3', 'Пицца Ранчоус', '650', 800)
					p Соус Ранч, сыр Моцарелла, цыпленок барбекю, бекон, томаты.