section.products-menu
	.container
		.products-categories
			.products-categories--grid.scroll-sm
				+catCard-flex-ui(1,'Пицца')(class="active")
				+catCard-flex-ui(2,'Роллы')
				+catCard-flex-ui(3,'Бургеры')
				+catCard-flex-ui(4,'Закуски')
				+catCard-flex-ui(5,'Напитки')
				+catCard-flex-ui(6,'Десерты')
				+catCard-flex-ui(7,'Салаты')
				+catCard-flex-ui(8,'Наборы')