section.products-menu
	.container
		.title-wrapper
			h2.h2 Меню
		.products-categories
			.products-categories--grid.scroll-sm
				+catCard-flex(1,'Пицца')(class="active")
				+catCard-flex(2,'Роллы')
				+catCard-flex(3,'Бургеры')
				+catCard-flex(4,'Закуски')
				+catCard-flex(5,'Напитки')
				+catCard-flex(6,'Десерты')
				+catCard-flex(7,'Салаты')
				+catCard-flex(8,'Наборы')