section.news-single
	.container
		h1.title.txt-bold.txt-center Сеть Pizza and rolls
		
		.news-single__contect.gap-110
			.video.txt-center
				.video-title Не только вкусная еда, но и качественное обслуживание
				.video-box
					a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video1").video-box__link
						img(src='./img/video-poster.webp', srcset='./img/video-poster@2x.webp 2x' width='970' height='543' loading='lazy' alt='img')
						span.play-icon
			
			.transform-grid
				.text-group.text-group--top
					.h4-bold  Пицца и Роллы
					p «Pizza and rolls»-это не просто любимая пицца, но и правильный выбор ценителей вкусной и полезной пищи ! Каждый клиент, посещая заведение или выбирая наименования из меню с доставкой на дом, может быть уверен в свежести продуктов и безупречном качестве приготовленной пищи, эстетически привлекательном виде блюд и их отменных вкусовых свойствах.
				.transform-grid__img
					img(src='./img/news/roll-image.webp', srcset='./img/news/roll-image@2x.webp 2x' width='570' height='440' loading='lazy' alt='img')
				
					
				.text-group.text-group--bottom
					.h4-bold  Доставка
					p Если хочется отведать чего-нибудь вкусного, но при этом нет ни времени, ни желания стоять у плиты, правильным решением станет доставка еды домой. Именно эту услугу предлагает клиентам наша мини-пиццерия.Наш сайт доставки еды гарантирует всем своим клиентам множество важных преимуществ, среди которых возможность совершения заказа и предзаказа в любое время, оперативная доставка к месту назначения и удобное оформление заявок. Вы также оцените привлекательную стоимость блюд, а так же их несомненное качество.


