section.news-single
	.container
		h1.title.txt-bold.txt-center Сеть Pizza and rolls
		
		.news-single__contect.gap-110
			.video.txt-center
				.video-title Не только вкусная еда, но и качественное обслуживание
				.video-box
					a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video1").video-box__link
						img(src='./img/video-poster.webp', srcset='./img/video-poster@2x.webp 2x' width='970' height='543' loading='lazy' alt='img')
						span.play-icon
			
			.transform-grid
				.text-group.text-group--top
					.h4-bold  Пицца и Роллы
					p «Pizza and rolls»-это не просто любимая пицца, но и правильный выбор ценителей вкусной и полезной пищи ! Каждый клиент, посещая заведение или выбирая наименования из меню с доставкой на дом, может быть уверен в свежести продуктов и безупречном качестве приготовленной пищи, эстетически привлекательном виде блюд и их отменных вкусовых свойствах.
				.transform-grid__img
					img(src='./img/news/roll-image.webp', srcset='./img/news/roll-image@2x.webp 2x' width='570' height='440' loading='lazy' alt='img')
				
					
				.text-group.text-group--bottom
					.h4-bold  Доставка
					p Если хочется отведать чего-нибудь вкусного, но при этом нет ни времени, ни желания стоять у плиты, правильным решением станет доставка еды домой. Именно эту услугу предлагает клиентам наша мини-пиццерия.Наш сайт доставки еды гарантирует всем своим клиентам множество важных преимуществ, среди которых возможность совершения заказа и предзаказа в любое время, оперативная доставка к месту назначения и удобное оформление заявок. Вы также оцените привлекательную стоимость блюд, а так же их несомненное качество.
			
			
			.news-bg-text.grey-bg
				.h5 Бесплатная доставка еды
				p Мы осуществляем бесплатную доставку еды на дом. Чтобы воспользоваться нашими  предложением, оформите заказ стоимостью от 500 рублей. Любое выбранное вами блюдо будет в минимальные сроки доставлено в место назначения абсолютно бесплатно. Мы гарантируем не только бесплатную доставку еды, но и ее безупречное качество!
				p Мы готовим на заказ для каждого клиента, поэтому у нас всегда вкусно, свежо, ароматно! В учет принимаются и индивидуальные вкусы. Так, любую пиццу вы можете дополнить топпингами (бекон, ветчина, креветка, шампиньоны и др.) или исключить нелюбимый продукт. Используйте для этого наш удобный фильтр по ингредиентам!
			
			
			.news-article
				.news-article__txt
					.h5 Делаем для вас самое вкусное!
					p Повседневная практика показывает, что консультация с широким активом требуют от нас анализа новых предложений. Равным образом дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки форм развития.
					p Равным образом реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. С другой стороны начало повседневной работы по формированию позиции способствует подготовки и реализации форм развития. С другой стороны новая модель организационной деятельности играет важную роль в формировании форм развития. Повседневная практика показывает, что укрепление и развитие структуры в значительной степени обуславливает создание модели развития.
				.news-article__img
					img.img-cover(src='./img/news/pizza-image.webp', srcset='./img/news/pizza-image@2x.webp 2x' width='470' height='363' loading='lazy' alt='img')
			
			


