section.news-page
	.container
		h1.title Новости и акции
		.news-page-content.swiper-box
			//SLIDER ARROWS
			.news-slider__nav
				button.swiper-button-prev
				button.swiper-button-next
					
			//NEWS SLIDER
			.news-slider.swiper
				.swiper-wrapper
					.swiper-slide
						.news-card
							.news-card__img
								img.img-cover(src='./img/news/card1.webp', srcset='./img/news/card1@2x.webp 2x' width='370' height='218' loading='lazy' alt='img')
							p Маленькая пицца пепперони или маргарита в подарок за первый заказ
					.swiper-slide
						.news-card
							.news-card__img
								img.img-cover(src='./img/news/card2.webp', srcset='./img/news/card2@2x.webp 2x' width='370' height='218' loading='lazy' alt='img')
							p Делайте заказы и получайте кешбэк 5%
					.swiper-slide
						.news-card
							.news-card__img
								img.img-cover(src='./img/news/card3.webp', srcset='./img/news/card3@2x.webp 2x' width='370' height='218' loading='lazy' alt='img')
							p 1+1=3
					.swiper-slide
						.news-card
							.news-card__img
								img.img-cover(src='./img/news/card1.webp', srcset='./img/news/card1@2x.webp 2x' width='370' height='218' loading='lazy' alt='img')
							p Маленькая пицца пепперони или маргарита в подарок за первый заказ
					.swiper-slide
						.news-card
							.news-card__img
								img.img-cover(src='./img/news/card2.webp', srcset='./img/news/card2@2x.webp 2x' width='370' height='218' loading='lazy' alt='img')
							p Делайте заказы и получайте кешбэк 5%