section.news-single
	.container
		h1.title.txt-bold.txt-center Сеть Pizza and rolls
		
		.news-single__contect
			.video.txt-center
				.video-title Не только вкусная еда, но и качественное обслуживание
				.video-box
					a(href="https://www.youtube.com/embed/__-vp0g_BhA?si=ATYLxRiZZo-EeydT" data-fancybox="video1").video-box__link
						img(src='./img/video-poster.webp', srcset='./img/video-poster@2x.webp 2x' width='970' height='543' loading='lazy' alt='img')
						span.play-icon
			
			.transform-grid
				.text-group.text-group--top
					.h4-bold  Пицца и Роллы
					p «Pizza and rolls»-это не просто любимая пицца, но и правильный выбор ценителей вкусной и полезной пищи ! Каждый клиент, посещая заведение или выбирая наименования из меню с доставкой на дом, может быть уверен в свежести продуктов и безупречном качестве приготовленной пищи, эстетически привлекательном виде блюд и их отменных вкусовых свойствах.
				.transform-grid__img
					img(src='./img/news/roll-image.webp', srcset='./img/news/roll-image@2x.webp 2x' width='570' height='440' loading='lazy' alt='img')
				
					
				.text-group.text-group--bottom
					.h4-bold  Доставка
					p Если хочется отведать чего-нибудь вкусного, но при этом нет ни времени, ни желания стоять у плиты, правильным решением станет доставка еды домой. Именно эту услугу предлагает клиентам наша мини-пиццерия.Наш сайт доставки еды гарантирует всем своим клиентам множество важных преимуществ, среди которых возможность совершения заказа и предзаказа в любое время, оперативная доставка к месту назначения и удобное оформление заявок. Вы также оцените привлекательную стоимость блюд, а так же их несомненное качество.
			
			
			.news-bg-text.grey-bg
				.h5 Бесплатная доставка еды
				p Мы осуществляем бесплатную доставку еды на дом. Чтобы воспользоваться нашими  предложением, оформите заказ стоимостью от 500 рублей. Любое выбранное вами блюдо будет в минимальные сроки доставлено в место назначения абсолютно бесплатно. Мы гарантируем не только бесплатную доставку еды, но и ее безупречное качество!
				p Мы готовим на заказ для каждого клиента, поэтому у нас всегда вкусно, свежо, ароматно! В учет принимаются и индивидуальные вкусы. Так, любую пиццу вы можете дополнить топпингами (бекон, ветчина, креветка, шампиньоны и др.) или исключить нелюбимый продукт. Используйте для этого наш удобный фильтр по ингредиентам!
			
			
			.news-article
				.news-article__txt
					.h5 Делаем для вас самое вкусное!
					p Повседневная практика показывает, что консультация с широким активом требуют от нас анализа новых предложений. Равным образом дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки форм развития.
					p Равным образом реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. С другой стороны начало повседневной работы по формированию позиции способствует подготовки и реализации форм развития. С другой стороны новая модель организационной деятельности играет важную роль в формировании форм развития. Повседневная практика показывает, что укрепление и развитие структуры в значительной степени обуславливает создание модели развития.
				.news-article__img
					img.img-cover(src='./img/news/pizza-image.webp', srcset='./img/news/pizza-image@2x.webp 2x' width='470' height='363' loading='lazy' alt='img')

			//thumbnail swiper
			.news-swiper-block
				h2.title-34 Галерея:
				.swiper.mySwiper-news.calc-sm
					.swiper-wrapper
						.swiper-slide
							img(src='./img/gallery/gallery1.webp' width="1170" height="574" alt="img")
						.swiper-slide
							img(src="./img/gallery/gallery2-thumb.webp",  width="1170" height="574" alt="img")
						.swiper-slide
							img(src="./img/gallery/gallery3-thumb.webp",  width="1170" height="574" alt="img")
						.swiper-slide
							img(src="./img/gallery/gallery4-thumb.webp",  width="1170" height="574" alt="img")
						.swiper-slide
							img(src="./img/gallery/gallery5-thumb.webp", width="1170" height="574" alt="img")
						.swiper-slide
							img(src="./img/gallery/gallery4-thumb.webp",  width="1170" height="574" alt="img")
						.swiper-slide
							img(src="./img/gallery/gallery5-thumb.webp", width="1170" height="574" alt="img")

					.mySwiper__nav
						button.swiper-button-prev
							svg.svg-arr
								use(href='./img/sprite.svg#svg-arr')
						button.swiper-button-next
							svg.svg-arr
								use(href='./img/sprite.svg#svg-arr')
					
				.swiper-box
					.mySwiper-thumb__nav
						button.swiper-button-prev
							svg.svg-arr
								use(href='./img/sprite.svg#svg-arr')
						button.swiper-button-next
							svg.svg-arr
								use(href='./img/sprite.svg#svg-arr')
					.swiper.mySwiper(thumbsslider)
						.swiper-wrapper
							.swiper-slide
								img(src='./img/gallery/gallery1-thumb.webp'  width="204" height="163" alt="img")
							.swiper-slide
								img(src="./img/gallery/gallery2-thumb.webp",  width="204" height="163" alt="img")
							.swiper-slide
								img(src="./img/gallery/gallery3-thumb.webp",  width="204" height="163" alt="img")
							.swiper-slide
								img(src="./img/gallery/gallery4-thumb.webp",  width="204" height="163" alt="img")
							.swiper-slide
								img(src="./img/gallery/gallery5-thumb.webp",  width="1170" height="574" alt="img")
							.swiper-slide
								img(src="./img/gallery/gallery4-thumb.webp",  width="204" height="163" alt="img")
							.swiper-slide
								img(src="./img/gallery/gallery5-thumb.webp",  width="1170" height="574" alt="img")

			
			
			//news-benefit
			.news-team
				.title-wrapper.txt-center
					.title-34 Делаем для вас самое вкусное!
					p.txt-16 Сотрудники кафе всегда встретят вас дружелюбно и при необходимости помогут с выбором блюд. Мы подбираем жизнерадостных и трудолюбивых людей, которые готовят ответственно и с душой. А клиенты за это оставляют нам слова благодарности.
				
				.news-team-wrapper.swiper-box
					.news-slider__nav
						button.swiper-button-prev
							svg.svg-arr
								use(href='./img/sprite.svg#svg-arr')
						button.swiper-button-next
							svg.svg-arr
								use(href='./img/sprite.svg#svg-arr')
					.news-team-slider.swiper
						.swiper-wrapper
							.swiper-slide
								img(src='./img/news/image1.webp', srcset='./img/news/image1@2x.webp 2x' width='303' height='216' loading='lazy' alt='img')
							.swiper-slide
								img(src='./img/news/image2.webp', srcset='./img/news/image2@2x.webp 2x' width='303' height='216' loading='lazy' alt='img')
							.swiper-slide
								img(src='./img/news/image3.webp', srcset='./img/news/image3@2x.webp 2x' width='303' height='216' loading='lazy' alt='img')
							.swiper-slide
								img(src='./img/news/image1.webp', srcset='./img/news/image1@2x.webp 2x' width='303' height='216' loading='lazy' alt='img')
							.swiper-slide
								img(src='./img/news/image2.webp', srcset='./img/news/image2@2x.webp 2x' width='303' height='216' loading='lazy' alt='img')

			//ACCORDION
			.delivery-faq.delivery-row
				.accordion
					.title-wrapper
						.title-34 Отвечаем на популярные вопросы:
						p Мы всегда рады видеть Вас в нашем ресторане, где вы можете провести банкет, приобрести наши блюда на вынос или отведать их в нашем уютном заведении!
					//single item
					.accordion__item
						.accordion__title
							.accordion-btn Из каких продуктов мы готовим?
							span.icon-arr
						
						.accordion__content
							
							p У нас готовят блюда из свежих овощей, различных видов мяса и рыбы, а также высококачественных сыров и теста для пиццы и роллов.
					
					//single item
					.accordion__item
						.accordion__title
							.accordion-btn Как долго доставляем заказ?
							span.icon-arr
						
						.accordion__content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis aperiam corporis reiciendis, nemo nihil suscipit dolor incidunt, aut, ipsa obcaecati deserunt. Ratione corrupti sapiente nisi, corporis voluptatum illo ad distinctio.
					//single item
					.accordion__item
						.accordion__title
							.accordion-btn В какие районы доставляем заказы?
							span.icon-arr
						
						.accordion__content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis aperiam corporis reiciendis, nemo nihil suscipit dolor incidunt, aut, ipsa obcaecati deserunt. Ratione corrupti sapiente nisi, corporis voluptatum illo ad distinctio.
					//single item
					.accordion__item
						.accordion__title
							.accordion-btn Есть ли у нас безконтактная доставка?
							span.icon-arr
						
						.accordion__content
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis aperiam corporis reiciendis, nemo nihil suscipit dolor incidunt, aut, ipsa obcaecati deserunt. Ratione corrupti sapiente nisi, corporis voluptatum illo ad distinctio.
				//SALE
				.discount-card
					.discount-card__img
						img.img-cover(src='./img/news/card3.webp', srcset='./img/news/card3@2x.webp 2x' width='570' height='302' loading='lazy' alt='img')
					
					.discount-card__txt
						.h5 Акции и скидки
						p Чтобы наши клиенты всегда были сытыми и довольными, мы позаботились о самых выгодных скидках и акциях, благодаря которым заказ доставки еды в нашей пиццерии станет более выгодным.
						a(href="discount-page.html").btn-accent.w-auto Смотреть все акции

section.our-app.section-grey
	.container
		.our-app-content
			.header-block
				.h4 Скачайте наше приложение
				p У нас действительно огромный выбор пицц - как привычных, так и экзотических: каждый найдет для себя что-нибудь по своему вкусу
			.our-app__img
				.qr-image
					img.img-cover(src='./img/news/qcode.webp', srcset='./img/news/qcode@2x.webp 2x' width='' height='' loading='lazy' alt='img')
				.app-block
					.app-block__item
						img(src='../img/news/app1.webp', srcset='../img/news/app1@2x.webp 2x' width='180' height='60' loading='lazy' alt='img')
					.app-block__item
						img(src='../img/news/app2.webp', srcset='../img/news/app2@2x.webp 2x' width='180' height='60' loading='lazy' alt='img')