section.order-page
	.container
		.order-header
			h1.title-2 Оформление заказа
				
			//STEPS
			.order-steps
				.order-step
					.step-num 1
					span Корзина
				.order-step-space
				
				.order-step.active
					.step-num 2
					span Оформление
				
				.order-step-space
				
				.order-step
					.step-num 3
					span Заказ принят
		form.order-form
			.order-form-body
				.order-left-column
					.form-fields-col
						.h4-bold Контактные данные
						.form-fields
							.form-item
								input(type="text" name="" placeholder="Имя")
							.form-item
								input(type="text" name="" placeholder="Телефон")
							.form-item
								input(type="text" name="" placeholder="Улица")
							.form-item-house.flex
								.form-item
									input(type="text" name="" placeholder="Дом")
								label.relative-label
									
									input(type="checkbox" name="promo")
									span.fake-checkbox
									p.txt-16.txt-s4 Частный дом
									
							.form-item-appartament.flex
								.form-item
									input(type="text" name="" placeholder="Квартира")
								.form-item
									input(type="text" name="" placeholder="Подъезд")
								.form-item
									input(type="text" name="" placeholder="Этаж")
								.form-item
									input(type="text" name="" placeholder="Домофон")
							
							.form-item
								textarea(placeholder="Комментарий к заказу" name="message")
				
				//RIGHT COLUMN
				.order-right-column
					.form-col
						.h4-bold Варианты доставки
						.order-form-delivery
							//выбор доставки
							.switch-group.switch-delivery#switch-delivery
								label.switch-label.switch-delivery-courier
									input(type="radio" name="delivery__type" )
									span.switch-btn Доставка курьером
								label.switch-label.switch-delivery-pickup
									input(type="radio" name="delivery__type" checked)
									span.switch-btn Самовывоз

							.switch-delivery-content
								#delivery-pickup.column-gap-10
									label.switch-label
										input(type="radio" name="address_item" checked)
										span.switch-label-item
											.switch-label__txt__icon
												svg.svg-pin
													use(href='./img/sprite.svg#svg-pin')
											.switch-label__txt
												p Самовывоз (Смоленский Пассаж) скидка 10%
												p.txt-s5 Москва, Смоленская площадь, дом 5 (Смоленский Пассаж)
									label.switch-label
										input(type="radio" name="address_item")
										span.switch-label-item
											.switch-label__txt__icon
												svg.svg-pin
													use(href='./img/sprite.svg#svg-pin')
											.switch-label__txt
												p Самовывоз (Смоленский Пассаж) скидка 10%
												p.txt-s5 Москва, Смоленская площадь, дом 5 (Смоленский Пассаж)
									label.switch-label
										input(type="radio" name="address_item")
										span.switch-label-item
											.switch-label__txt__icon
												svg.svg-pin
													use(href='./img/sprite.svg#svg-pin')
											.switch-label__txt
												p Самовывоз (Смоленский Пассаж) скидка 10%
												p.txt-s5 Москва, Смоленская площадь, дом 5 (Смоленский Пассаж)

									.delivery-discount-summ.txt-16
										p Скидка за доставку: - 142 руб.	
								
								//Поля отображаются при выборе доставки курьером
								#delivery-courier.column-gap-10
									.note-box
										.card-img
											svg.svg-note
												use(href='./img/sprite.svg#svg-note')
										.txt-12.txt-s5 Минимальный заказ для бесплатной доставки 500 руб. Время доставки от 40 мин.
									
									.order-delivery-express
										label.switch-label
											input(type="radio" name="delivery_time")
											span.switch-label-item
												.switch-label__txt
													p Быстрее
									
									.order-delivery-time
										label.switch-label
											input(type="radio" name="delivery_time")
											span.switch-label-item
												.datepicker-block
													.txt-12 Доставка на определённое время
													.form-item.order-delivery-date
														input.datepicker-input#datepicker(type="text" placeholder="Дата")
														span.datepicker-icon
															svg.svg-calendare
																use(href='./img/sprite.svg#svg-calendare')
													
													.form-item.order-delivery-clock
														.dropdown
															.dropdown-button
																input.dropdown__input(type="text" readonly placeholder="Выберите время")
																
															.dropdown__list
																ul
																	li.dropdown__list-item(data-value="15:00 - 16:00") 15:00 - 16:00
																	li.dropdown__list-item(data-value="16:00 - 17:00") 16:00 - 17:00
																	li.dropdown__list-item(data-value="17:00 - 18:00") 17:00 - 18:00
																	li.dropdown__list-item(data-value="18:00 - 19:00") 18:00 - 19:00
																	li.dropdown__list-item(data-value="19:00 - 20:00") 19:00 - 20:00
																	li.dropdown__list-item(data-value="20:00 - 21:00") 20:00 - 21:00
							
					.order-form-payment.form-col
						.h4-bold Способы оплаты
						.payment-cards.payment-cards-columns
							.payment-card
								label.switch-label
									input(type="radio" name="pay_type" checked)
									span.switch-label-item
										.switch-label__icon
											svg.svg-wallet
												use(href='./img/sprite.svg#svg-wallet')
										.switch-label__txt
											p.txt-12 Оплата наличными
										.switch-label__img
											img(src="./img/cash.webp", width="40" alt="img")
							.payment-card
								label.switch-label
									input(type="radio" name="pay_type")
									span.switch-label-item
										.switch-label__icon
											svg.svg-wallet
												use(href='./img/sprite.svg#svg-wallet')
										.switch-label__txt
											p.txt-12 СБП
										.switch-label__img
											img(src="./img/visa.webp", width="40" alt="img")
											img(src="./img/mastercard.webp", width="40" alt="img")
											img(src="./img/mir.webp", width="40" alt="img")
			
							.payment-card
								label.switch-label
									input(type="radio" name="pay_type")
									span.switch-label-item
										.switch-label__icon
											svg.svg-wallet
												use(href='./img/sprite.svg#svg-wallet')
										.switch-label__txt
											p.txt-12 СБП
										.switch-label__img
											img(src="./img/payment/pay5.webp", width="40" alt="img")
							.payment-card
								label.switch-label
									input(type="radio" name="pay_type")
									span.switch-label-item
										.switch-label__icon
											svg.svg-wallet
												use(href='./img/sprite.svg#svg-wallet')
										.switch-label__txt
											p.txt-12 СБП
										.switch-label__img
											img(src="./img/payment/pay5.webp", width="40" alt="img")
			
					//Promo Block
					.form-col.form-promo
						.h4-bold Промокод
						.form-promo-block
							.form-promo-row.flex
								.form-item
									input(type="text" name="order_time" placeholder="Введите время доставки *")
								button(type="button").btn.btn-h42 Применить
							p.txt-12.txt-s4 Скидка по промокоду 10%
			
			//FORM FOOTER
			.order-form-footer
				//footer-row
				.form-agree-wrapper
					.form-subscribe
						label.relative-label
							input(type="checkbox" name="subscr_email")
							span.fake-checkbox
							.label-text
								p Согласен на получение новостей и других рассылок
									
						
					.form-agree
						label.relative-label
							input(type="checkbox" name="chbx1")
							span.fake-checkbox
							.label-text
								p Принимаю #[a(href="#!") условия обработки] персональных данных.
				
				//footer-row
				.order-form-buttons.flex
					//BUTTONS GROUP
					.buttons-row
						a(href="#!").btn-light
							svg.svg-arr-left
								use(href='./img/sprite.svg#svg-arr-left')
							span Назад к заказам
						
						a(href="#!").btn-accent Оформить заказ

					.order-total-summ
						.total
							.total__txt Итого: 
							.total__group
								.total__count 4 шт. на сумму
								.price-box 1675 #[small руб.]
				
				