section.order-page
	.container
		.form-fields-col
			.h4-bold 1. Контактные данные
			.form-fields
				.form-item
					input(type="text" name="" placeholder="Имя *")
				.form-item
					input(type="text" name="" placeholder="Телефон *")
				.form-item
					input(type="text" name="" placeholder="Улица *")
				.form-item
					input(type="text" name="" placeholder="Дом *")
				.form-item
					input(type="text" name="" placeholder="Квартира *")
				.form-item
					input(type="text" name="" placeholder="Имя *")
				.form-item
					textarea(placeholder="Комментарий к заказу" name="message")

		.form-col
			.h4-bold 2. Варианты доставки
			//single item
			label.relative-label
				input(type="radio" name="name1")
				span.fake-radio
				.label-text
					p Самовывоз
					span.txt-s4 г. Энгельс, ул. Трудовая 12/2
			//single item
			label.relative-label
				input(type="radio" name="name1" checked)
				span.fake-radio
				.label-text
					p Доставка курьером
					span.txt-s4 Минимальный заказ для бесплатной доставки 500 руб.
		.form-col
			.h4-bold 3. Способы оплаты
			//single item
			label.relative-label
				input(type="radio" name="name2")
				span.fake-radio
				.label-text
					p Оплата наличными
					span.txt-s4 Оплата при получении лично или курьеру
			//single item
			label.relative-label
				input(type="radio" name="name2" checked)
				span.fake-radio
				.label-text
					p Оплата через Яндекс
					span.txt-s4 Оплата на сайте через систему Яндекс.Деньги
			//single item
			label.relative-label
				input(type="radio" name="name2" checked)
				span.fake-radio
				.label-text
					p Банковской картой онлайн
					span.txt-s4 Оплата заказа на сайте через защищенный шлюз Яндекса
			//single item
			label.relative-label
				input(type="radio" name="name2" checked)
				span.fake-radio
				.label-text
					p Оплата картой при получении
					span.txt-s4 Оплата банковской картой при получении заказа при самовывозе или получении курьером
		
		.form-col
			.h4-bold 4. Дополнительно
			//single item
			label.relative-label
				input(type="radio" name="name3")
				span.fake-radio
				.label-text
					p Как можно скорее
					span.txt-s4 Мы доставляем заказ в течении 40 мин.
			//single item
			label.relative-label
				input(type="radio" name="name3" checked)
				span.fake-radio
				.label-text
					p Доставка на определенное время
					input(type="text" name="order_time" placeholder="Введите время доставки *")
		.form-col