section.order-page
	.container
		.order-header
			.order-header__group
				h1.title-2 Оформление
				.total__group.flex-sm
					.total__count 4 шт. на сумму
					.price-box 1675 #[small руб.]
			//STEPS
			.order-steps
				.order-step
					.step-num 1
					span Корзина
				.order-step-space
				
				.order-step.active
					.step-num 2
					span Оформление
				
				.order-step-space
				
				.order-step
					.step-num 3
					span Заказ принят
		form.order-form
			.order-form-body
				.form-fields-col
					.h4-bold 1. Контактные данные
					.form-fields
						.form-item
							input(type="text" name="" placeholder="Имя")
						.form-item
							input(type="text" name="" placeholder="Телефон")
						.form-item
							input(type="text" name="" placeholder="Улица")
						.form-item-house.flex
							.form-item
								input(type="text" name="" placeholder="Дом")
							label.relative-label
								
								input(type="checkbox" name="promo")
								span.fake-checkbox
								p.txt-16.txt-s4 Частный дом
								
						.form-item-appartament.flex
							.form-item
								input(type="text" name="" placeholder="Квартира")
							.form-item
								input(type="text" name="" placeholder="Подъезд")
							.form-item
								input(type="text" name="" placeholder="Этаж")
							.form-item
								input(type="text" name="" placeholder="Домофон")
						
						.form-item
							textarea(placeholder="Комментарий к заказу" name="message")
				
				//RIGHT COLUMN
				.order-right-column
					.order-form-delivery
						//выбор доставки
						.switch-group.switch-delivery#switch-delivery
							label.switch-label.delivery-courier
								input(type="radio" name="delivery__type" )
								span.switch-btn Доставка курьером
							label.switch-label
								input(type="radio" name="delivery__type" checked)
								span.switch-btn Самовывоз

						//Поля отображаются при выборе доставки курьером
						#delivery-courier-fields.wrapper-gap-20
							.note-box
								.card-img
									svg.svg-note
										use(href='./img/sprite.svg#svg-note')
								.txt-12.txt-s5 Минимальный заказ для бесплатной доставки 500 руб. Время доставки от 40 мин.
							
							.note-box-checkbox
								.card-img
									svg.svg-note
										use(href='./img/sprite.svg#svg-note')
								.txt-12.txt-s5 Минимальный заказ для бесплатной доставки 500 руб. Время доставки от 40 мин.
							
							a(href="my-address.html").btn-light.w-100
								span Выбрать адрес
								svg.svg-plus
									use(href='./img/sprite.svg#svg-plus')
						//Заметки
						.content-group
							.h10 Заметки
							.form-item
								input( type="text" name="message" placeholder="Комментарий к заказу")
					
					//Способы оплаты
					.payment-group.gap-12
						.h5 Способы оплаты
						.payment-types.switch-group
							label.switch-label
								input(type="radio" name="pay_type" checked)
								span.payment-item
									.payment-icon
										svg.svg-wallet
											use(href='./img/sprite.svg#svg-wallet')
									p.txt-12 Оплата наличными
									.payment_img
										img(src="./img/payment/pay1.webp", width="40" alt="img")
							
							label.switch-label
								input(type="radio" name="pay_type")
								span.payment-item
									.payment-icon
										svg.svg-wallet
											use(href='./img/sprite.svg#svg-wallet')
									p.txt-12 Картой онлайн
									.payment_img
										img(src="./img/payment/pay2.webp", width="40" alt="img")
										img(src="./img/payment/pay3.webp", width="40" alt="img")
										img(src="./img/payment/pay4.webp", width="40" alt="img")
							label.switch-label
								input(type="radio" name="pay_type")
								span.payment-item
									.payment-icon
										svg.svg-wallet
											use(href='./img/sprite.svg#svg-wallet')
									p.txt-12 Картой курьеру
									.payment_img
										img(src="./img/payment/pay2.webp", width="40" alt="img")
										img(src="./img/payment/pay3.webp", width="40" alt="img")
										img(src="./img/payment/pay4.webp", width="40" alt="img")
							label.switch-label
								input(type="radio" name="pay_type")
								span.payment-item
									.payment-icon
										svg.svg-wallet
											use(href='./img/sprite.svg#svg-wallet')
									p.txt-12 СБП
									.payment_img
										img(src="./img/payment/pay5.webp", width="40" alt="img")

			
			
						//ORDER CARD
						.order-product
							.order-product__row
								.product-name Пицца Особая
								.product-summ-group
									span.product-count 1 шт
									span.product-summ 365&nbsp;&#8381;
							.order-product__body
								
			
			//FORM FOOTER
			.order-form-footer
				//footer-row
				.form-agree-wrapper.mb-40
					.form-subscribe
						label.relative-label
							input(type="checkbox" name="subscr_email")
							span.fake-checkbox
							.label-text
								p Согласен на получение новостей и других рассылок
									
						
					.form-agree
						label.relative-label
							input(type="checkbox" name="chbx1")
							span.fake-checkbox
							.label-text
								p Принимаю #[a(href="#!") условия обработки] персональных данных.
				
				//footer-row
				.order-form-buttons.flex
					//BUTTONS GROUP
					.buttons-row
						a(href="#!").btn-light
							svg.svg-arr-left
								use(href='./img/sprite.svg#svg-arr-left')
							span Назад к заказам
						
						a(href="#!").btn-accent Оформить заказ

					.order-total-summ
						.total
							.total__txt Итого: 
							.total__group
								.total__count 4 шт. на сумму
								.price-box 1675 #[small руб.]
				
				