section.our-garantee
	.container
		.title-wrapper
			h2.title-46 Мы гарантируем, что у нас:
		.our-garantee-content
			.garantee-item
				.garantee-item__icon
					img(src='./img/icons/benefit1.webp', srcset='./img/icons/benefit1@2x.webp 2x' width='70' height='70' loading='lazy' alt='img')
				.garantee-item__txt Свежайшие и качественные продукты
			.garantee-item
				.garantee-item__icon
					img(src='./img/icons/benefit2.webp', srcset='./img/icons/benefit2@2x.webp 2x' width='70' height='70' loading='lazy' alt='img')
				.garantee-item__txt Быстрая доставка и лучший сервис
			.garantee-item
				.garantee-item__icon
					img(src='./img/icons/benefit3.webp', srcset='./img/icons/benefit3@2x.webp 2x' width='70' height='70' loading='lazy' alt='img')
				.garantee-item__txt Лучшие повара с многолетним опытом
			
			.garantee-item
				.garantee-item__icon
					img(src='./img/icons/benefit4.webp', srcset='./img/icons/benefit4@2x.webp 2x' width='70' height='70' loading='lazy' alt='img')
				.garantee-item__txt Незабываемый вкус настоящей пиццы