//OUR APP 
section.our-app.section-grey
	.container
		.our-app-content
			//LEFT BLOCK
			.our-app__txt
				.title-wrapper
					.h5 Скачайте наше приложение
					p У нас действительно огромный выбор пицц - как привычных, так и экзотических: каждый найдет для себя что-нибудь по своему вкусу
				.our-app__img
					.qr-image
						img.img-cover(src='./img/news/qcode.webp', srcset='./img/news/qcode@2x.webp 2x' width='' height='' loading='lazy' alt='img')
					.app-block
						.app-block__item
							img(src='../img/news/app1.webp', srcset='../img/news/app1@2x.webp 2x' width='180' height='60' loading='lazy' alt='img')
						.app-block__item
							img(src='../img/news/app2.webp', srcset='../img/news/app2@2x.webp 2x' width='180' height='60' loading='lazy' alt='img')

			//RIGHT BLOCK
			.our-app__right
				img.img-contain(src='./img/news/phones.webp', srcset='./img/news/phones@2x.webp 2x' width='433' height='403' loading='lazy' alt='img')