
section.persone-page
	.container
		.order-header
			h1.title-2 Личный кабинет
		.tabs-container
			.tabs
				.tab.active(data-tab-target='#content1') Личные данные
				.tab(data-tab-target='#content2') История заказов
				
			.tab-content-wrapper
				#content1.tab-content