
section.profile-page
	.container
		.section-header
			h1.title-2 Личный кабинет
		.tabs-container.profile-tabs
			.tabs
				.tab.tab-txt.active(data-tab-target='#content1') Личные данные
				.tab.tab-txt(data-tab-target='#content2') История заказов
				
			.tab-content-wrapper
				//ЛИЧНЫЕ ДАННЫЕ
				#content1.tab-content.active
					.profile-edit-content
						form.profile-form(action="" method="method")
							.profile-form-body
								.form-item.flex
									label.form-item-label Имя
									input(type="text" placeholder="Имя" value="Иванов Иван")
								.form-item.flex
									label.form-item-label Телефон
									input(type="text" placeholder="Телефон" value="+7 999 888 77 66")
								.form-item.flex
									label.form-item-label Улица:
									input(type="text" placeholder="Улица:" value="Ленина")
								.form-item.flex
									label.form-item-label Дом:
									input(type="text" placeholder="Дом:" value="25")
								.form-item.flex
									label.form-item-label Квартира
									input(type="text" placeholder="Квартира" value="555")
								.form-item.form-item-passw.flex
									label.form-item-label Пароль:
									input(type="password" placeholder="Пароль" value="5555555")
									button(type="button").show-passw
										
				//ИСТОРИЯ ЗАКАЗОВ
				#content2.tab-content
					.accordion
						//single item
						.accordion__item
							.accordion__title
								.accordion-btn
									ul.order-info-list
										li #[strong Заказ №:]  054334895456
										li #[strong Дата заказа:] 25.05.2020
								
									.accordion__arrow-group
										p 
											span.state-close Развернуть
											span.state-open Свернуть
										svg.svg-down
											use(href='./img/sprite.svg#svg-down')
							
							.accordion__content
								//CARD
								.basket-card.prepared-card
									//image
									.basket-card__img
										img.img-contain(src='../img/goods/pizza-h370.webp', srcset='../img/goods/pizza-h370@2x.webp 2x' width='' height='' loading='lazy' alt='img')
									.basket-card__group
										//title group
										.basket-card__title
											.basket-card__product
												.basket-card__name Пицца Особая
												.product-summ-group
													span.product-count 1 шт
													span.product-summ 365&nbsp;&#8381;
											.basket-card__row
												.round-label
													span 42см
												.round-label
													span Традиционное
												.prod-weight Вес: 550 гр.
										
										//text group
										.basket-card__text
											.basket-card__desk Говядина, халапеньо, моцарелла, помидоры, куриное филе, томатный соус.
											.basket-card__add
												p Дополнительно: Сыр моцарелла 50 гр. Пепперони 30 гр. Ветчина 30 гр. Маслины 20гр. Оливковое масло 20 гр.
												
										
									//price group
									.basket-card__total
										.prod-weight Вес: 550 гр.
										.prod-count.txt-16 1 шт
										.price-box
											span 600#[small &#8381;]
						
								//CARD
								.basket-card.prepared-card
									//image
									.basket-card__img
										img.img-contain(src='../img/goods/pizza-h370.webp', srcset='../img/goods/pizza-h370@2x.webp 2x' width='' height='' loading='lazy' alt='img')
									.basket-card__group
										//title group
										.basket-card__title
											.basket-card__product
												.basket-card__name Пицца Маргарита овощная
												.product-summ-group
													span.product-count 1 шт
													span.product-summ 365&nbsp;&#8381;
											.basket-card__row
												.round-label
													span 42см
												.round-label
													span Традиционное
												.prod-weight Вес: 550 гр.
										
										//text group
										.basket-card__text
											.basket-card__desk Говядина, халапеньо, моцарелла, помидоры, куриное филе, томатный соус.
											.basket-card__add
												p Дополнительно: Сыр моцарелла 50 гр. Пепперони 30 гр. Ветчина 30 гр. Маслины 20гр. Оливковое масло 20 гр.
												
										
									//price group
									.basket-card__total
										.prod-weight Вес: 550 гр.
										.prod-count.txt-16 1 шт
										.price-box
											span 600#[small &#8381;]

								//ИТОГОВАЯ СУММА
								.basket-footer
									//BUTTONS
									.buttons-row
										a(href="#!").btn-light.btn-light--accent Повторить
										button.btn-light
											span Удалить из истории
											svg.svg-delete(style="width:1.25em; height: 1.25em;")
												use(href='./img/sprite.svg#svg-delete')

									//TOTAL SUMM
									.total
										.total__txt Итого: 
										.total__group
											.total__count 4 шт. на сумму
											.price-box 1675 #[small руб.]
						
						//single item
						.accordion__item
							.accordion__title
								.accordion-btn
									ul.order-info-list
										li #[strong Заказ №:]  054334895456
										li #[strong Дата заказа:] 25.05.2020
								
									.accordion__arrow-group
										p 
											span.state-close Развернуть
											span.state-open Свернуть
										svg.svg-down
											use(href='./img/sprite.svg#svg-down')
							
							.accordion__content
								.basket-card.prepared-card
									//image
									.basket-card__img
										img.img-contain(src='./img/goods/pizza-h370.webp', srcset='./img/goods/pizza-h370@2x.webp 2x' width='' height='' loading='lazy' alt='img')
									.basket-card__group
										//title group
										.basket-card__title
											.basket-card__product
												.basket-card__name Комбо
												.product-summ-group
													span.product-count 1 шт
													span.product-summ 365&nbsp;&#8381;
											
										//text group
										.basket-card__text
											.basket-card__desk
												ul.basket-card__list
													li
														p Куриные наггетсы
														span.txt-s4 6 шт, 110 г.
													li
														p Картофель фри
														span.txt-s4 Стандартная, 80 г
													li
														p Соус Сырный
														span.txt-s4 1 шт, 25 г
											.basket-card__add
												p Дополнительно: Сыр моцарелла 50 гр. Пепперони 30 гр. Ветчина 30 гр. Маслины 20гр. Оливковое масло 20 гр.
												
										
									//price group
									.basket-card__total
										.prod-weight Вес: 550 гр.
										.prod-count.txt-16 1 шт
										.price-box
											span 600#[small &#8381;]
								
								//CARD
								.basket-card.prepared-card
									//image
									.basket-card__img
										img.img-contain(src='./img/goods/salat.webp', srcset='./img/goods/salat@2x.webp 2x' width='' height='' loading='lazy' alt='img')
									.basket-card__group
										//title group
										.basket-card__title
											.basket-card__product
												.basket-card__name Салат "Цезарь"
												.product-summ-group
													span.product-count 1 шт
													span.product-summ 365&nbsp;&#8381;
											
										//text group
										.basket-card__text
											.basket-card__desk Говядина, халапеньо, моцарелла, помидоры, куриное филе, томатный соус.
											.basket-card__add
												p Дополнительно: Сыр моцарелла 50 гр. Пепперони 30 гр. Ветчина 30 гр. Маслины 20гр. Оливковое масло 20 гр.
												
										
									//price group
									.basket-card__total
										.prod-weight Вес: 550 гр.
										.prod-count.txt-16 1 шт
										.price-box
											span 600#[small &#8381;]
								//ИТОГОВАЯ СУММА
								.basket-footer
									//BUTTONS
									.buttons-row
										a(href="#!").btn-light.btn-light--accent Повторить
										button.btn-light
											span Удалить из истории
											svg.svg-delete(style="width:1.25em; height: 1.25em;")
												use(href='./img/sprite.svg#svg-delete')

									//TOTAL SUMM
									.total
										.total__txt Итого: 
										.total__group
											.total__count 2 шт. на сумму
											.price-box 1075 #[small руб.]					
						
						//single item
						.accordion__item
							.accordion__title
								.accordion-btn
									ul.order-info-list
										li #[strong Заказ №:]  054334895456
										li #[strong Дата заказа:] 25.05.2020
								
									.accordion__arrow-group
										p 
											span.state-close Развернуть
											span.state-open Свернуть
										svg.svg-down
											use(href='./img/sprite.svg#svg-down')
							
							.accordion__content
								.basket-card.prepared-card
									//image
									.basket-card__img
										img.img-contain(src='../img/goods/pizza-h370.webp', srcset='../img/goods/pizza-h370@2x.webp 2x' width='' height='' loading='lazy' alt='img')
									.basket-card__group
										//title group
										.basket-card__title
											.basket-card__product
												.basket-card__name Пицца Особая
												.product-summ-group
													span.product-count 1 шт
													span.product-summ 365&nbsp;&#8381;
											.basket-card__row
												.round-label
													span 42см
												.round-label
													span Традиционное
												.prod-weight Вес: 550 гр.
										
										//text group
										.basket-card__text
											.basket-card__desk Говядина, халапеньо, моцарелла, помидоры, куриное филе, томатный соус.
											.basket-card__add
												p Дополнительно: Сыр моцарелла 50 гр. Пепперони 30 гр. Ветчина 30 гр. Маслины 20гр. Оливковое масло 20 гр.
												
										
									//price group
									.basket-card__total
										.prod-weight Вес: 550 гр.
										.prod-count.txt-16 1 шт
										.price-box
											span 600#[small &#8381;]

								//ИТОГОВАЯ СУММА
								.basket-footer
									//BUTTONS
									.buttons-row
										a(href="#!").btn-light.btn-light--accent Повторить
										button.btn-light
											span Удалить из истории
											svg.svg-delete(style="width:1.25em; height: 1.25em;")
												use(href='./img/sprite.svg#svg-delete')

									//TOTAL SUMM
									.total
										.total__txt Итого: 
										.total__group
											.total__count 1 шт. на сумму
											.price-box 675 #[small руб.]

					//CLEAR HISTORY
					.clear-history-btn.mt-40
						button.btn-accent Очистить всю историю