.main-slider
	.container
		.header-swiper.swiper
			.swiper-wrapper
				.swiper-slide
					.mainBanner-content(style='background-image: url(https://prilogeniepizza.megamagic.ru/upload/images/banner/category_VWxbVTYsRM1711359996.jpg)')
				.swiper-slide
					.mainBanner-content(style='background-image: url(https://prilogeniepizza.megamagic.ru/upload/images/banner/category_KKAqD3lmSg1711369309.jpg)')
				.swiper-slide
					.mainBanner-content(style='background-image: url(https://prilogeniepizza.megamagic.ru/upload/images/banner/category_KXB1NSmrKR1711360578.jpg)')
				.swiper-slide
					.mainBanner-content(style='background-image: url(https://prilogeniepizza.megamagic.ru/upload/images/banner/category_uFllYuCdKn1711360019.jpg)')
			.my-swiper-pagination