.promo-slider
	.promo-slider-swiper.swiper
		.swiper-wrapper
			//single-slide
			.swiper-slide(style="background-image: url(./img/promo/image.webp)")
				.container
					.promo-content
						.promo-img
							img.img-contain(src='./img/promo/percent.webp', srcset='./img/promo/percent@2x.webp 2x' width='400' height='247' loading='lazy' alt='img')
						p.font_50 Вкус недели
						.promo-title Пицца МАРИО
						p.font_35 Сливки, сыр, бекон и шампиньоны...
						button.btn-accent Купить
