@use "base/var" as *;
@font-face{
	font-family: 'Cuprum';
	src: url('../fonts/Cuprum-Regular.woff2'), format('woff2');
	font-weight: 400;
	font-display: swap;
}
@font-face{
	font-family: 'Chekharda';
	src: url('../fonts/Chekharda-BoldItalic.woff2'), format('woff2');
	font-weight: 400;
	font-display: swap;
}
@font-face{
	font-family: 'Cuprum';
	src: url('../fonts/Cuprum-Bold.woff2'), format('woff2');
	font-weight: 700;
	font-display: swap;
}
@font-face{
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed-Regular.woff2'), format('woff2');
	font-weight: 400;
	font-display: swap;
}
@font-face{
	font-family: 'RobotoCondensed';
	src: url('../fonts/RobotoCondensed-Bold.woff2'), format('woff2');
	font-weight: 700;
	font-display: swap;
}
*, *:after, *:before {
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
}
:root{
	--primary: #1f1f1f;
	--font-family: "RobotoCondensed",  sans-serif;
	--second-family: "Cuprum",  sans-serif;
	--font3: 'Chekharda';
	
	--accent-color-1: #D7001A;
	--accent-color-2: #FBD10E;
	--secondary: #BFBFBF;
	--secondary-1: #EEEEEE;
	--secondary-2: #F7F7F7;
	--secondary-4: #A3A7B4;
	--secondary-5: #86898F;
	--white: white;
}

html {
	scroll-behavior: smooth;
	
	scroll-padding-top: 130px;
}

html,
body {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
	font-size: 16px;
    line-height: 1.5;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	&>*{width: 100%;}
	@media(min-width:768px) and (max-width: 1364px) {
		font-size:remy(16);
	}
	
}
.lock{
	overflow: hidden; 
	padding-right: 17px;
	@media (max-width: 1199px) {
	padding-right: 0;
	}
}

a,
a:hover {
	text-decoration: none;
	color: inherit;
}
a:focus{
	outline: none;
}
a[href^="tel:"],
a[href^="mailto:"] {
	white-space: nowrap;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
h4,
p {
	padding: 0;
	margin: 0;
}


img {
	max-width: 100%;
	height: auto;
	display: block;
}
.img-cover{
	width: 100%;
	height: 100%;
	aspect-ratio: inherit;
	object-position: center;
	object-fit: cover;
}
.img-contain{
	object-fit: contain;
	width: 100%;
	height: 100%;
}
input,
button, textarea{border: none;}
button:focus,
input:focus,textarea:focus{outline: none;}
button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
}

input[type="submit"] {
	padding-block: 0;
	cursor: pointer;
}
address{
	font-style: normal;
}
input[type="submit"] {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
input::placeholder, textarea::placeholder, textarea::placeholder{
	font-family: inherit;
	font-size: inherit;
}

.container{
	width: 1190px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: 1439px) {
		width: remy(1190);
		padding-left: remy(10);
	   padding-right: remy(10);
	}
	@media (max-width: 767px) {
	  width: 360px;
	  padding-left: 10px;
	  padding-right: 10px;
	}
}
.scroll-sm{
	@media (max-width: 767px) {
	  width: calc(160px + 50vw);
	  overflow: hidden;
	  scrollbar-width: none;
	  overflow-x: auto;
	 &::-webkit-scrollbar{display: none;}
	 &>*:last-child{margin-right: 10px;}
	}
}
.hide-sm{
	@media (max-width: 767px) {
	display: none!important;
	}
}
.block-sm{
	display: none!important;
	@media (max-width: 767px) {
	display: block!important;
	}
}
.flex-sm{
	display: none!important;
	@media (max-width: 767px) {
	display: flex!important;
	}
}
.header, .footer{flex-shrink: 0;}
.inner-main{
	flex:1; 
	background-color: #fff; 
	padding-top: 20px;
	padding-bottom: 55px;
	section, .p-block-50 {padding-block:50px;}
	@media (max-width: 767px) {
		padding-top: 10px
	}
	@media (max-width: 1364px) {
		padding-top: remy(55);
		padding-bottom: remy(55);
		section, .p-block-50 {padding-block:remy(50);}
	}
	@media (max-width: 767px) {
		padding-top: 10px;
		padding-bottom: 20px;
		section, .p-block-50 {padding-block:20px;}
	}
}
.pt-50{
	padding-top: 50px;
	@media (max-width: 1364px) {
		padding-top: remy(50);
	}
	@media (max-width: 767px) {
		padding-top: 20px;
	}
}
.pb-50{
	padding-bottom: 50px;
	@media (max-width: 1364px) {
		padding-bottom: remy(50);
	}
	@media (max-width: 767px) {
		padding-bottom: 20px;
	}
}
.mb-20{
	margin-bottom: 20px!important;
}
.main{
	background-color: #fff;
	padding-top: 55px;
	padding-bottom: 55px;
	section, .p-block-50 {padding-block:55px;}
		
	
	@media (max-width: 1364px) {
		padding-top: remy(55);
		padding-bottom: remy(55);
		section, .p-block-50 {padding-block:remy(55);}
	}
	@media (max-width: 767px) {
		padding-top: 20px;
		padding-bottom: 20px;
		section, .p-block-50 {padding-block:20px;}
	}
}

.flex, .flex-center{
	display: flex;
	align-items: center;
}

.flex-center{
	justify-content: center;
}
.column-gap-10, gap-10{gap:10px!important}
.column-gap-10{
	display: flex;
	flex-wrap: wrap;
	&>*{width: 100%;}
}
.grid-three-columns,.grid-four-columns,.grid-two-columns,.grid-six-columns{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	column-gap:30px;
	row-gap:30px;
	&>*{
		grid-column:  span 4;
	}
	@media (max-width: 1364px) {
		column-gap:remy(30);
		row-gap:remy(30);
	}
	@media (max-width: 767px) {
		&>*{
			grid-column:  span 6;
		}
		&>.product.horiz-mob{grid-column:  span 12;}
	}
}
.grid-four-columns{
	
	&>*{
		grid-column:  span 3;
	}
	
	@media (max-width: 767px) {
		&>*{
			grid-column:  span 6;
		}
		&>.product.horiz-mob{grid-column:  span 12;}
	}
}
.grid-two-columns{
	&>*{
		grid-column:  span 6;
	}
	
	@media (max-width: 767px) {
		&>*{
			grid-column:  span 12;
		}
		
	}
}
.grid-six-columns{
	&>*{grid-column:  span 2;}
	@media (max-width: 767px) {&>*{grid-column:  span 6;}}

}
.gap-88,.gap-110{
	display: grid;
	grid-template-columns: 1fr;
	row-gap:88px;
	@media (max-width: 1364px) {
		row-gap:remy(88);
	}
	@media (max-width: 767px) {
		row-gap:50px;
		.product-assortiment-single{
			max-width: 340px;
		}
	}
}
.gap-110{
	row-gap:110px;
	@media (max-width: 1364px) {
		row-gap:remy(110);
	}
	@media (max-width: 767px) {
		row-gap:40px;
	}
}
.pos-relative{
	position: relative;
	
}
/*.breadcrumbs*/

.breadcrumbs>li {
	position: relative;
	display: inline;
	font-family: "Rubik", sans-serif;
	font-weight: 400;
	padding-right: 3px;
	line-height: .5;
	color: var(--secondary-5);
	position: relative;
	&+li:before{
		content: "";
		position: absolute;
		left: -1px;
		bottom: 2px;
		height: 14px;
		width: 1px;
		background-color: var(--secondary-5);
	}
	a {
		color: var(--secondary-5);
		font-size: 12px;
		line-height: .5;
	}
	&:last-child{padding-right: 0;}
	&:last-child:before{background-color: var(--secondary);}
	&:last-child>* {
		border-bottom: 0;
		pointer-events: none;
		cursor: default;
		color: var(--secondary);
	}

}
.breadcrumbs>li +li{
	padding-left: 6px;
}
