@use "var" as *;
.basket-btn{
	width: 30px;
	height: 30px;
	display: block;
	cursor:pointer;
	position: relative;
	background-size: 26px 24px;
	background-position: center;
	flex-shrink: 0;
	transition: .3s; 
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.0001 0C1.39847 0 0.100098 1.29837 0.100098 2.9V5.9C0.100098 7.21467 0.974905 8.32502 2.17416 8.68069L3.03383 19.1914C3.18345 20.6727 4.43038 21.8 5.91915 21.8H6.34797C6.72278 22.9049 7.76864 23.7 9.0002 23.7C10.2318 23.7 11.2776 22.9049 11.6524 21.8H14.348C14.7228 22.9049 15.7686 23.7 17.0002 23.7C18.2318 23.7 19.2776 22.9049 19.6524 21.8H20.0806C21.5694 21.8 22.8163 20.6727 22.9659 19.1914L23.8256 8.68082C25.0251 8.32529 25.9001 7.21483 25.9001 5.9V2.9C25.9001 1.29837 24.6017 0 23.0001 0H3.0001ZM19.6524 20H20.0806C20.6453 20 21.1183 19.5724 21.175 19.0105L22.0044 8.8H3.99537L4.82472 19.0105C4.88147 19.5724 5.35445 20 5.91915 20H6.34798C6.72279 18.8951 7.76864 18.1 9.0002 18.1C10.2318 18.1 11.2776 18.8951 11.6524 20H14.348C14.7228 18.8951 15.7686 18.1 17.0002 18.1C18.2318 18.1 19.2776 18.8951 19.6524 20ZM23.0001 7C23.6076 7 24.1001 6.50751 24.1001 5.9V2.9C24.1001 2.29249 23.6076 1.8 23.0001 1.8H3.0001C2.39258 1.8 1.9001 2.29249 1.9001 2.9V5.9C1.9001 6.50751 2.39258 7 3.0001 7H23.0001ZM9.0002 21.9C9.55248 21.9 10.0002 21.4523 10.0002 20.9C10.0002 20.3477 9.55248 19.9 9.0002 19.9C8.44791 19.9 8.0002 20.3477 8.0002 20.9C8.0002 21.4523 8.44791 21.9 9.0002 21.9ZM18.0002 20.9C18.0002 21.4523 17.5525 21.9 17.0002 21.9C16.4479 21.9 16.0002 21.4523 16.0002 20.9C16.0002 20.3477 16.4479 19.9 17.0002 19.9C17.5525 19.9 18.0002 20.3477 18.0002 20.9Z' fill='%231F1F1F' /%3e%3c/svg%3e");
	@media (max-width: 1364px) {
		height: remy(30);
		width: remy(30);
		background-size: remy(26) remy(24);
	}
	@media (max-width: 767px) {
		width: 30px;
		height: 30px;
		background-size: 26px 24px;
	}
}
.signin-btn{
	width: 30px;
	height: 30px;
	display: block;
	background-size: 25px 26px;
	background-position: center;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='25' height='26' viewBox='0 0 25 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.7575 8.49079C12.339 8.07237 11.6607 8.07237 11.2422 8.49079C10.8238 8.9092 10.8238 9.5876 11.2422 10.006L13.1648 11.9285H3.24623C2.6545 11.9285 2.1748 12.4082 2.1748 13C2.1748 13.5917 2.6545 14.0714 3.24623 14.0714H13.1648L11.2422 15.9939C10.8238 16.4123 10.8238 17.0907 11.2422 17.5091C11.6607 17.9276 12.339 17.9276 12.7575 17.5091L16.5039 13.7627C16.7008 13.5684 16.8229 13.2984 16.8229 13C16.8229 12.7021 16.7013 12.4326 16.5051 12.2384L12.7575 8.49079Z' fill='%231F1F1F' /%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.28391 4.2842C6.80915 0.758942 12.1108 -0.295636 16.7168 1.61221C21.3228 3.52006 24.3259 8.01461 24.3259 13.0001C24.3259 17.9855 21.3228 22.4801 16.7168 24.3879C12.1108 26.2958 6.80915 25.2412 3.28391 21.7159L3.28267 21.7147C2.33945 20.7684 1.55849 19.6732 0.971135 18.4731C0.71101 17.9416 0.930997 17.2999 1.46249 17.0397C1.99398 16.7796 2.63571 16.9996 2.89584 17.5311C3.37975 18.5198 4.02316 19.4221 4.80026 20.2018C7.71265 23.1133 12.092 23.9841 15.8968 22.4082C19.702 20.832 22.1831 17.1188 22.1831 13.0001C22.1831 8.88131 19.702 5.16813 15.8968 3.59195C12.0918 2.01589 7.71214 2.8869 4.79975 5.79882C4.02289 6.57835 3.37965 7.48045 2.89583 8.46894C2.63569 9.00042 1.99395 9.22039 1.46247 8.96025C0.93098 8.70012 0.711009 8.05838 0.971147 7.52689C1.55851 6.32685 2.33947 5.23171 3.28268 4.28543L3.28391 4.2842Z' fill='%231F1F1F' /%3e%3c/svg%3e");
	transition: .3s; 
	@media (max-width: 1364px) {
		height: remy(30);
		width: remy(30);
		background-size: remy(25) remy(26);
	}
	@media (max-width: 767px) {
		width: 30px;
		height: 30px;
		background-size: 25px 26px;
	}
}
.carret-down{
	width: 18px;
	height: 18px;
	display: block;
	background-size: 12px 7px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11.4013 1.24335C11.4016 1.32222 11.3863 1.40036 11.3562 1.47327C11.3261 1.54617 11.2819 1.61241 11.2261 1.66815L6.42614 6.46815C6.31296 6.57984 6.16035 6.64246 6.00134 6.64246C5.84234 6.64246 5.68973 6.57984 5.57654 6.46815L0.776544 1.66815C0.66388 1.55549 0.600586 1.40268 0.600586 1.24335C0.600586 1.08402 0.66388 0.931218 0.776544 0.818554C0.889208 0.70589 1.04201 0.642596 1.20134 0.642596C1.36067 0.642596 1.51348 0.70589 1.62614 0.818554L6.00134 5.20335L10.3765 0.818554C10.4897 0.70687 10.6423 0.644251 10.8013 0.644251C10.9604 0.644251 11.113 0.70687 11.2261 0.818554C11.2819 0.874298 11.3261 0.940533 11.3562 1.01344C11.3863 1.08635 11.4016 1.16449 11.4013 1.24335V1.24335Z' fill='%231F1F1F' /%3e%3c/svg%3e");
	@media (max-width: 1364px) {
		height: remy(18);
		width: remy(18);
		background-size: remy(12) remy(7);
	}
	@media (max-width: 767px) {
		width: 18px;
		height: 18px;
		background-size: 12px 7px;
	}
}

.svg-login{
	width: 18px;
	height: 20px;
}

.svg-cross, .svg-out,.svg-reload, .svg-menu, .svg-logo, .svg-star, .svg-discount, .svg-info, .svg-list, .svg-delete, .svg-doc, .svg-favor, .svg-share,.svg-explore, .svg-plus{
	color: $p;
	display: inline-block;
}
.svg-cross{
	width: 26px;
	height: 26px;	
}
.svg-out, .svg-favor, .svg-share,.svg-explore{
	width: 27px;
	height: 28px;
}
.svg-out{color: $p;}
.svg-menu, .svg-star, .svg-discount, .svg-info, .svg-list, .svg-delete, .svg-doc{
	width: 32px;
	height: 32px;
}
.svg-reload{width:23px; height:22px;}
.svg-wallet, .svg-note, .svg-alarm, .svg-flag, .svg-assig, .svg-trolley{
	width: 24px;
	height: 24px;
	display: block;
	flex-shrink: 0;
	color: $p;
}
.svg-plus, .svg-note, .svg-check {
	width: 20px;
	height: 20px;
}
.svg-check{
	display: block;
	color: $p;
}
.svg-alarm,.svg-flag, .svg-assig, .svg-trolley{
	width: 29px;
	height: 29px;
	color: $p;
}
.svg-pin,.svg-phone{
	display: block;
	color: $p;
	width: 28px;
	height: 28px;
}
.svg-pin{width: 22px;}