
@use "var" as *;
.promo-title{
	font-family: var(--font3);
	font-style: italic;
	font-weight: 700;
	font-size: 119px;
	line-height: 110%;
	color: var(--white);
	@media (max-width: 1364px) {
		font-size: remyL(119);
	}
	@media (max-width: 767px) {
		font-size: 40px;
		line-height: 110%;
	}
}
.h2,h2,.title{
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 46px;
	line-height: 109%;
	
	// text-align: center;
	color: var(--primary);
	@media (max-width: 1364px) {
		font-size: remy(46);
		
	}
	@media (max-width: 767px) {
		font-size: 34px;
		line-height: 118%;
	}
}
.h2{text-transform: uppercase;}
.title{
	margin-bottom: 40px;
	@media (max-width: 1364px) {margin-bottom: remy(40);}
	@media (max-width: 767px) {
		font-size: 30px;
		line-height: 1.5;
		margin-bottom: 20px;
	}
}
.h4,.h4-upper{
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 24px;
	line-height: 125%;
	color: var(--primary);
	@media(min-width: 768px) and (max-width: 1364px) {font-size: remy(25);}
}
.h4-upper{text-transform: uppercase;}
.title-46{
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 46px;
	line-height: 109%;
	text-transform: uppercase;
	color: var(--primary);
	@media (max-width: 1364px) {
		font-size: remy(46);
		
	}
	@media (max-width: 767px) {
		font-size: 24px;
		line-height: 125%;
		
	}
}
.title-30{
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 30px;
	line-height: 150%;
	color: var(--primary);
	@media (max-width: 1439px) {
	font-size: remy(30);
	}
	@media (max-width: 767px) {
		font-size: 24px;
		line-height: 125%;
	}
}
.font_50{
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 50px;
	line-height: 120%;
	text-transform: uppercase;
	@media (max-width: 1364px) {
		font-size: remy(50);
	}
	@media (max-width: 767px) {
		font-size: 24px;
		line-height: 125%;
	}
	
}
.font_35{
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 35px;
	line-height: 100%;
	@media (max-width: 1364px) {
		font-size: remy(35);
	}
	@media (max-width: 767px) {
		font-size: 14px;
		line-height: 143%;
	}

}
.title-34{
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 34px;
	line-height: 118%;
	color: var(--primary);
	margin-bottom: 20px;
	@media(min-width: 768px) and (max-width: 1364px) {
		font-size: remy(34);
		margin-bottom: remy(20);
	}
	@media (max-width: 767px) {
		margin-bottom: 20px;
	}
}
.txt-16{
	font-size: 16px;
	line-height: 150%;
	color: var(--primary);
	@media (max-width: 1364px) {
		font-size: remy(16);
	}
	@media (max-width: 767px) {
		font-size: 14px;
		line-height: 143%;
		
	}
}
.txt-14{
	font-size: 14px;
    line-height: 143%;
	@media(min-width: 768px) and (max-width: 1364px) {
		font-size: remy(14);
	}
}
.title-wrapper{
	display: flex;
	flex-direction: column;
	row-gap:20px;
	justify-content: center;
	align-items: center;

	margin-bottom: 40px;
	.txt-16{max-width: 400px;}
	@media (max-width: 1364px) {
		margin-bottom: remy(40);
		row-gap:remy(20);
		.txt-16{max-width: remy(400);}
	}
	@media (max-width: 767px) {
		margin-bottom: 25px;.txt-16{max-width: 100%;}
		row-gap:20px;
	}
}

.txt-center{text-align: center;}
.txt-white{color: white;}
.txt-s5{color: var(--secondary-5);}
.txt-bold{font-weight: 700;}
.txt-accent{color: $a2;}
.txt-red{color: $a1;}
.d-none{display: none!important;}
.product p.txt-cut2{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.scroll-y{
	overflow: hidden;
	overflow-y: auto;
	scrollbar-color:  red green;
	scrollbar-width: thin;
}
.text-list{
	list-style-type: disc;
	margin-left: 20px;
	@media (max-width: 1364px) {
		margin-left: remy(20);
	}
	@media (max-width: 767px) {
		margin-left: 10px;
	}
}