@use "../base/var" as *;



// .products{overflow: hidden;}
/*product card*/
.product{
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.03);
	background: var(--white);
	border-radius: 24px;
	overflow: hidden;
	row-gap:20px;
	display: flex;
	flex-direction: column;
	
	
	&>*{width: 100%;}
	.product__img{
		overflow: hidden;
		aspect-ratio: 382/238;
		flex-shrink:0;
		position: relative;
		flex-shrink: 0;
	}
	
	.product__body{
		padding-inline:20px;
		flex: 1;
		
		display: flex;
		flex-direction: column;
		row-gap:15px;
		.btn{flex-shrink:0; margin-top: 8px;}
	}
	.product__name{
		width: 100%;
		font-weight: 700;
		font-size: 24px;
		line-height: 125%;
		color: var(--primary);
		padding-bottom: 0;
	}
	p{	display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 7;
		overflow: hidden;
		line-clamp: 7;
		width: 100%;
		font-size: 14px;
		line-height: 143%;
		color: var(--primary);
		padding-bottom: 20px;
	}
	.product__footer{
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap:20px;
		padding: 20px;
	}
	
}
.tag-meta{
	position: absolute;
	z-index: 2;
	font-weight: 700;
	font-size: 12px;
	line-height: 150%;
	color: white;
}
.tag-meta--new{
	border-radius: 0 200px 0 0;
	padding: 6px 16px 3px 18px;
	min-width: 69px;
	text-transform: uppercase;
	height: 29px;
	bottom: 0;
	left: 0;
	background-color: #70cafc;
}

.tag-meta--sale, .tag-meta--hit{
	border-radius: 100px;
	padding: 3px 12px;
	height: 26px;
	font-size: 13px;
	top: 15px;
	background: linear-gradient(153deg, #ff7760 0%, #ff4727 100%);
}
.tag-meta--sale{left: 15px;}
.tag-meta--hit{
	right: 15px;
	background: linear-gradient(153deg, #8e1ea3 0%, #721a82 100%);
}
.price-box{
	display: flex;
	flex-direction: column;
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 24px;
	line-height: 125%;
	color: var(--primary);
	span{
		width: 100%;
	}
	.old-price{
		font-size: 20px;
		line-height: 130%;
		text-transform: uppercase;
		text-decoration: line-through;
		color:  var(--accent-color-1);
	}
}
.product.product-horiz{
	flex-direction: row;
	align-items: stretch;
	column-gap: 12px;
	padding-bottom: 0;
	width: 100%;
	justify-content: space-between;
	.product__img{
		width:169px;
		
		border-radius: 12px 0 0 12px;
		overflow: hidden;
		img{
			// border-radius: 12px 0 0 12px;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	
	.product__body{
		padding: 10px;
		.btn{
			width: fit-content;
		}
	}
}
.add-product, .add-product .card-txt{
	display: flex;
	flex-direction: column;
	row-gap:12px;
}
.add-product-card{
	.check-icon{
		position: absolute;
		top: 12px;
		right: 12px;
		z-index: 2;
		opacity: 0;
		transition: .3s; 
	}
}
.add-product-card input:checked ~ .add-product{
	border: 1px solid $a2;
}
.add-product-card input:checked ~ span{
	opacity: 1;
}
.add-product{
	background-color: #fff;
	border: 1px solid $s1;
	border-radius: 20px;
	padding: 12px;
	text-align: center;
	transition: .3s; 
	.card-img{
		width: 100%;
		height: 62px;
		flex-shrink: 0;
		
		
	}
	.card-txt{
		flex: 1;
		row-gap:4px;
		p{
			flex:1;
			display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		line-clamp: 2;
		width: 100%;
		font-size: 14px;
		line-height: 1.43;
		}
	}
	.card-price{
		font-size: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 4px;
		span{font-size: 14px;}
	}
}
.add-products-group{
	display: grid;
	grid-template-columns: repeat(12, 1fr);

	gap:12px;
	.add-product-card{
		grid-column: span 4;
	}
	.add-product{height: 100%;}
}
.hide-card,.hide-item{display: none!important;}
*.align-left .product__body{
	text-align: left;
}