@use "../base/var" as *;


/*product card*/
.product{
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.03);
	background: var(--white);
	border-radius: 24px;
	overflow: hidden;
	// row-gap:20px;
	display: flex;
	
	.price-box{
		flex-direction: column;
		align-items: flex-start;
		row-gap: 0;
	}
	flex-direction: column;
	
	&>*{width: 100%;}
	.product__img{
		overflow: hidden;
		aspect-ratio: 1.6050;
		flex-shrink:0;
		position: relative;
		flex-shrink: 0;
		
	}
	.product-meta{
		@media (max-width: 767px) {
			display: flex;
			
			position: absolute;
			top: 10px;
			left: 10px;
			z-index: 3;
			&>*+*{
				// margin-left: -20px;
				transform: translateX(-64%);
			}
		}
	}
	.product__body{
		padding:20px;
		flex: 1;
		
		display: flex;
		flex-direction: column;
		
		.btn{flex-shrink:0;}
	}
	.product__name{
		width: 100%;
		font-weight: 700;
		font-size: 24px;
		line-height: 125%;
		color: var(--primary);
		padding-bottom: 0;
		margin-bottom: 15px;
	}
	p{	display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 7;
		overflow: hidden;
		line-clamp: 7;
		width: 100%;
		font-size: 14px;
		line-height: 143%;
		color: var(--primary);
		margin-bottom: 20px;
		flex-grow: 1;
		
	}
	.product__footer{
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap:20px;
		padding-top: 20px;
	}
	@media (max-width: 1364px) {
		border-radius: remy(20);
		// row-gap:remy(20);
		
		.product__body{
			padding:remy(20);

			// row-gap:remy(15);
		}
		.product__name{
			font-size: remy(24);
			margin-bottom: remy(15);
		}
		p{	
			font-size: remy(14);
			margin-bottom: remy(20);
		}
		.product__footer{
			column-gap:remy(20);
			padding-top: remy(20);
		}
	}
	@media (max-width: 767px) {
		border: 1px solid var(--secondary-1);
		border-radius: 20px;
		
		box-shadow: none;
		.product__name{
			font-size: 16px;
			line-height: 150%;
			margin-bottom: 4px;
		}
		p{	
			font-size: 14px;
			text-align: center;
			margin-bottom: 10px;
		}
		.product__footer{
			flex-direction: column;
			row-gap:10px;
			padding-top: 0;
			// padding: 10px 9px;
			// padding-top: 10px;
		}
		.product__body{
			padding: 10px;
			padding-bottom: 0;
			// row-gap:4px;
		}
		.price-box{
			flex-direction: row;
			justify-content: center;
			width: 100%;
			.old-price{margin-left: auto; text-align: right;}
			
		}
	}
}

.tag-meta{
	position: absolute;
	z-index: 2;
	font-weight: 700;
	font-size: 12px;
	// line-height: 150%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (max-width: 1364px) {
		font-size: remy(12);
	}
	@media (max-width: 767px) {
		position: relative;
		height: 20px;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 20px;
		
		
	
	}
}
.tag-meta--new{
	border-radius: 0 200px 0 0;
	// padding: 6px 16px 3px 18px;
	padding: 6px 16px 3px 10px;
	min-width: 69px;
	// text-transform: uppercase;
	height: 29px;
	bottom: 0;
	left: 0;
	background-color: #70cafc;
	@media (max-width: 1364px) {
		padding: remy(6) remy(16) remy(3) remy(18);
		min-width: remy(69);
		height: remy(29);
	}
}

.tag-meta--sale, .tag-meta--hit{
	border-radius: 100px;
	padding: 3px 12px;
	height: 26px;
	font-size: 13px;
	top: 15px;
	background: linear-gradient(153deg, #ff7760 0%, #ff4727 100%);
	@media (max-width: 1364px) {
		padding: remy(3) remy(12);
		font-size: remy(13);
		height: remy(26);
		top: remy(15);
		.tag-meta--sale{left: remy(15);}
		.tag-meta--hit{right: remy(15);}
	}
}
.tag-meta--sale{left: 15px;}
.tag-meta--hit{
	right: 15px;
	background: linear-gradient(153deg, #8e1ea3 0%, #721a82 100%);
}
.tag-meta.tag-meta--new,.tag-meta--hit.tag-meta , .tag-meta.tag-meta--sale{
	@media (max-width: 767px) {
		position: relative;
		height: 20px;
		padding-left: 10px;
		padding-right: 10px;
		border-radius: 20px;
		justify-content: center;
		align-items: center;
		font-size: 12px;
		font-weight: 400;
		inset:0;
		text-transform: capitalize;
	}
}
.price-box{
	display: flex;
	align-items: center;
	gap:6px;
	font-family: var(--second-family);
	font-weight: 400;
	font-size: 24px;
	line-height: 125%;
	color: var(--primary);
	span{
		width: fit-content;
		white-space: nowrap;
	}
	.old-price{
		font-size: 20px;
		line-height: 130%;
		text-transform: uppercase;
		text-decoration: line-through;
		color:  var(--accent-color-1);
	}
	@media (max-width: 1364px) {
		font-size: remy(20);
		.old-price{font-size:remy(20);}
	}
	@media (max-width: 767px) {
		
		font-size: 16px;
		
		.old-price{font-size: 16px;}
	}
}
/*Карточка с квадратной картинкой*/
.product.img-370{
	.product__img{
		aspect-ratio:1;
	}
}
.product p.txt-cut2{
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;

}


.product.horiz-mob{
	@media (max-width: 767px) {
		flex-direction: row;
		align-items: flex-start;
		// column-gap: 10px;
		padding-bottom: 0;
		width: 100%;
		justify-content: space-between;
		.product-meta{display: none;}
		.product__img{
			width:107px;
			height: 107px;
			border-radius: 12px 0 0 12px;
			overflow: hidden;
			flex-shrink:0;
			padding: 10px;
			
			img{
				// border-radius: 12px 0 0 12px;
				height: 100%;
				width: 100%;
				object-fit: contain;
			}
		}
		
		.product__body{
			padding: 10px;
			padding-left: 0;
			.product__footer{
				flex-direction: row-reverse;
				align-items: center;
				padding-left: 10px;
			}
			.price-box{
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.old-price{margin-left: 0;}
			}
			.btn{width: fit-content;}
		}
	}
}
.add-product, .add-product .card-txt{
	display: flex;
	flex-direction: column;
	row-gap:12px;
}
.add-product-card{
	.check-icon{
		position: absolute;
		top: 12px;
		right: 12px;
		z-index: 2;
		opacity: 0;
		transition: .3s; 
	}
}
.add-product-card input:checked ~ .add-product{
	border: 1px solid $a2;
}
.add-product-card input:checked ~ span{
	opacity: 1;
}
.add-product{
	background-color: #fff;
	border: 1px solid $s1;
	border-radius: 20px;
	padding: 12px;
	text-align: center;
	transition: .3s; 
	.card-img{
		width: 100%;
		height: 84px;
		flex-shrink: 0;
	}
	.card-txt{
		flex: 1;
		row-gap:4px;
		
		p{
			flex:1;
			display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		overflow: hidden;
		line-clamp: 2;
		width: 100%;
		font-size: 14px;
		line-height: 1.43;
		min-height: 40px;
		max-height:40px
		}
	}
	.card-price{
		font-size: 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 4px;
		span{font-size: 14px;}
	}
	@media(min-width: 767px) and (max-width: 1364px) {
		padding: remy(12);
		.card-img{height:remy(84)}
		.card-txt{
			
			row-gap:remy(4);
			
			p{
				
			font-size: remy(14);
			
			min-height: remy(40);
			max-height:remy(40);
			}
		}
		.card-price{
			font-size: remy(20);
			
			column-gap: remy(4);
			span{font-size: remy(14);}
		}
	}
}
.add-products-group{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap:10px;
	.add-product-card{
		grid-column: span 4;
	}
	.add-product{height: 100%;}
	@media(min-width: 767px) and (max-width: 1364px) {
		gap:remy(10);
	}
}

.add-product.price-border{
	.card-txt {
		
		row-gap:10px;
		p{
			font-size: 16px;
		}
		@media (min-width: 768px) and (max-width: 1364px){row-gap:remy(10); p{font-size: remy(16);}}
	}
}
.price-border{
	.card-price, .price-box{
		padding-inline: 20px;
		height: 48px;
		border-radius: 50px;
		flex-shrink: 0;
		font-size: 16px;
		line-height: 150%;
		display: flex;
		justify-content: center;
		align-items: center;
		border:1px solid var(--primary);
		@media (min-width: 768px) and (max-width: 1364px) {
			padding-inline: remy(20);
			height: remy(48);
			font-size: remy(16);
		}
	}
}
.card-short{
	display: flex;
	align-items: center;
	column-gap:4px;
	border: 1px solid var(--secondary-1);
	border-radius: 24px;
	padding: 10px;
	padding-right: 20px;
	transition:.3s; 
	cursor:pointer;
	&__img{
		flex-shrink: 0;
		width: 104px;
		height: 104px;
	}
	&__txt, .price-box{
		display: flex;
		flex-direction: column;
		row-gap: 6px;
		font-size: 14px;
		line-height: 143%;
		align-items: flex-start;
		color: var(--primary);
		.old-price,.new-price{
			font-size: 14px;
			line-height: 143%;
			color: var(--primary);
		}
		.old-price{color: $a1;}

	}
	
	@media (min-width: 768px) and (max-width: 1364px) {
		column-gap:remy(4);
		border-radius: remy(24);
		padding: remy(10);
		padding-right: remy(20);
		&__img{
			width: remy(104);
			height: remy(104);
		}
		&__txt, .price-box{
			row-gap: remy(6);
		    font-size: remy(14);
		}
		.old-price,.new-price{
			font-size: remy(14);
		}
	}
	&:hover{box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.03);border: 1px solid var(--secondary);}
}

.card-short.price-border{
	.card-short__txt{
		row-gap:20px;
	}
}
