@use "../base/var" as *;
*[data-modal]{
	transform: translateX(110%);
	transition: .3s; display: flex;
	[data-close]{
		position: absolute;
		top: -3em;
		right: -3em;
		z-index: 3;
		@media (max-width: 1279px) {
			right: 0;
			top: -4em;
		}
		@media (max-width: 767px) {
			top: 1em;
			right: auto;
			left: 10px;
		}
	}
}
*[data-modal].visible{transform: translateX(0);}
.popup-wrapper{
	background-color: rgba(0,0,0, .5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	
	z-index: 10;
	font-size: 10px;
	
}
.popup-wrapper .container{
	width: 100%;
	max-width: 117em;
	.popup-wrapper-content	{
		border-radius: 4em;
		padding: 4em;
		background-color: #fff;
		position: relative;
		[data-close]{
			position: absolute;
			top: -30px;
			right: -30px;
			@media (max-width: 1279px) {
				right: 0;
				top: -40px;
			}
			@media (max-width: 767px) {
				top: 30px;
				right: auto;
				left: 10px;
			}
		}
		@media (max-width: 767px) {
			border-radius:0;
			padding: 6em 1em;
		}
	}
	@media (max-width: 767px) {
		margin: 0!important;
	   }
}	
.popup-wrapper--scroll{
	overflow-x: hidden;
    overflow-y: auto;
	.container{
		margin: 14em auto;
		padding: 0;
	}
}
.popup-inner-frame{
	position: absolute;
	bottom: 0;
	right: 0;
    font-size: 10px;
	box-shadow: 0 -4px 40px 0 rgba(0, 0, 0, 0.08);
	background: var(--white);
	border: 1px solid var(--secondary-1);
	border-radius: 2.4em 2.4em 0 0;
	padding: 6em 3em;
	padding-right: 1em;
	
	z-index:5;
	width: 52.5em;
	
	.round-close{
		position: absolute;
		z-index: 2;
		right: 1.7em;
		top:1.7em;
	}
	svg{color: var(--primary)}
	.scroll-y{
		max-height: calc(80vh);
		padding-right: 1em;
		&>*{padding-right: 2em; }
	}
	@media (max-width: 767px) {
	  padding: 40px 10px 60px;
	  width: 360px;
	  .round-close{
		top: 10px;
		left: 10px;
		right:0;
		position: absolute;
		svg{color: var(--white)}
	  }
	  .title-24{text-align: center; max-width: 170px; margin: 0 auto;}
	  .scroll-y{
		
		padding-right: 0;
		&>*{padding-right: 0}
	}
	}
}
.popup-inner-frame.visible[data-modal]{display: block;}
.visible-down[data-modal]{
	transform: translateY(110%);
	&.visible{transform: translateY(0);}
}

@media (max-width:767px) {
	.filters.filters-fixed { margin-inline: -14px;  padding: 12px 14px;}
}
