@use "../base/var" as *;
.switch-group{
	display: flex;
	justify-content: space-between;
	height: 30px;
	border-radius: 50px;
	padding: 2px;
	background-color: $s2;
	.switch-label{
		flex:1;
		display: flex;
		justify-content: center;
		border-radius: 100px;
		position: relative;
		
		input{width:0.01px; height: 0.01px; position: absolute; top:0; left:0; }
		.switch-btn{
			display: flex;
			justify-content: center;
			align-items: center;
			color: $p;
			width: 100%;
			font-size: 12px;
			line-height: 150%;
			border-radius: 100px;
		}
		input:checked + span.switch-btn{
			background-color: #fff;
			box-shadow: 0 12px 38px 0 rgba(0, 0, 0, 0.08);
			

		}
	}
	@media(max-width: 768px) and (max-width: 1364px) {
		height: remy(30);
		border-radius: remy(50);
		padding: remy(2);
		input:checked + span.switch-btn{box-shadow: 0 remy(12) remy(38) 0 rgba(0, 0, 0, 0.08);}
		.switch-btn{font-size: remy(12);}
	}
}