mixin social
	.social
		a(href="#!").social-item
			svg.svg-inst
				use(href='./img/brands.svg#instagram')
		a(href="#!").social-item
			svg.svg-wa
				use(href='./img/brands.svg#whatsapp')
		a(href="#!").social-item
			svg.svg-vb
				use(href='./img/brands.svg#viber')
		a(href="#!").social-item
			svg.svg-tg
				use(href='./img/brands.svg#telegram')