extends ../layouts/layout.pug

block content
	include ../sections/_header-cart-popup
	include ../sections/_promo-slider
	main.main

	//FOOTER
	include ../sections/_footer
	//popup-basket отображается за счет класса Visible. Изначально этот класс надо удалить. Он добавляется по клику на компонет с data-btn ="basket-popup" (кнопка корзины в шапке) 
	
	.popup-basket.visible(data-modal="basket-popup")
		button.round-close(data-close)
			svg.svg-cross(style="color: white;")
				use(href='./img/sprite.svg#svg-cross')

		.popup-basket-content
			.order-header.order-header--popup
				.order-header__group
					h1.title-2 Корзина:
					.total__group
						.total__count 4 шт. на сумму
						.price-box 1675 #[small руб.]
				//STEPS
				.order-steps
					.order-step.active
						.step-num 1
						span Корзина
					.order-step-space
					
					.order-step
						.step-num 2
						span Оформление
					
					.order-step-space
					
					.order-step
						.step-num 3
						span Заказ принят
			
			.popup-basket__cards
				+basket-card-popup
				+basket-card-combo
				+basket-card-popup

			//FOOTER
			.basket-footer.basket-footer--popup
				//TOTAL SUMM
				.total
					.total__txt Итого: 
					.total__group
						.total__count 4 шт. на сумму
						.price-box 1675 #[small руб.]
				//BUTTONS
				.buttons-row
					a(href="order-page.html").btn-accent Перейти к оформлению
					button.btn-light
						span Очистить корзину
						svg.svg-delete(style="width:1.25em; height: 1.25em;")
							use(href='./img/sprite.svg#svg-delete')
		
			
		//popUp поверх корзины. Отображается за счет добавления класса visible. Должно быть внутри класса .popup-basket, так как размещается абсолютом относительно него. 
		.popup-inner-frame.visible-down.visible(data-modal="inner-popup")
			button.round-close(data-close)
				svg.svg-cross
					use(href='./img/sprite.svg#svg-cross')
			.title-24.mb-20 Напитки к&nbsp;вашему заказу:
			.scroll-y
				.column-gap-10
					.card-short.card-row
						.card-short__img
							img(src="./img/goods/juice.webp", srcset="./img/goods/juice@2x.webp 2x" width="80" height="80" alt="img")
						.card-short__txt
							p.txt-14 Напитки
							.price-box от 120&#8381;
					
					.card-short.card-row
						.card-short__img
							img(src="./img/goods/souse2.webp", srcset="./img/goods/souse2@2x.webp 2x" width="80" height="80" alt="img")
						.card-short__txt
							p.txt-14 Соусы
							.price-box от 120&#8381;
					.card-short.card-row
						.card-short__img
							img(src="./img/goods/dessert3.webp", srcset="./img/goods/dessert3@2x.webp 2x" width="80" height="80" alt="img")
						.card-short__txt
							p.txt-14 Десерты
							.price-box от 120&#8381;

block variables
	-var bodyCl = 'lock'
	-var title = "Pizza Mega Magic";
