extends ../layouts/layout.pug

block content
	include ../sections/_header
	include ../sections/_promo-slider
	main.main
		
		
	
	//FOOTER
	include ../sections/_footer-v2
	

block variables
	-var title = "Pizza Mega Magic";
