extends ../layouts/layout.pug

block content
	include ../sections/_header
	include ../sections/_promo-slider
	main.main
		
		include ../sections/_home5-content
		
		include ../sections/_cta
		include ../sections/_our-garantee
		
		include ../sections/_discount
		
		include ../sections/_about-seo
	
	//FOOTER
	include ../sections/_footer
	

block variables
	-var title = "Pizza Mega Magic";
