extends ../layouts/layout.pug

block content
	include ../sections/_header
	include ../sections/_stories
	main.main
		include ../sections/_categories-slider
		include ../sections/_home4-content
		include ../sections/_cta
		include ../sections/_our-garantee
		include ../sections/_discount
		include ../sections/_about-seo
	
	//FOOTER
	include ../sections/_footer
	include ../sections/_footer-v2

block variables
	-var title = "Pizza Mega Magic";
