extends ../layouts/layout.pug

block content
	.start-page(style="background: white;")
		h1 Pizza Mega Magic 2025
		.start-page__cards
			//- a(href="./ui/colors.html") UI-KIT PAGE
			
			a(href="home.html")
				span Главная
			a(href="home1.html")
				span Главная-1
			a(href="home2.html")
				span Главная_2
			a(href="home3.html")
				span Главная_3
			a(href="home4.html")
				span Главная_4
			a(href="home5.html")
				span Главная_5
			//- a(href="single-product-component.html")
			//- 	span Страница продукта - компоненты
			//- a(href="single-product.html")
			//- 	span Страница продукта
			a(href="single-product-v1.html")
				span Страница продукта-картинка прямоугольная
			a(href="single-product-v2.html")
				span Страница продукта-картинка квадратная
			a(href="product-popUp.html")
				span product popUp
			a(href="product-popUp-2.html")
				span product popUp-2 -пицца масштабируется
			a(href="product-popUp-3.html")
				span product popUp-3 - на моб версии пол пиццы
			a(href="product-popUp-4.html")
				span product popUp-4 -по три доп продукта на моб версии
			a(href="delivery.html")
				span Доставка
			a(href="news.html")
				span Новости
			a(href="news-single.html")
				span Одна новость
			a(href="cart-page.html")
				span Корзина
			a(href="cart-popup.html")
				span Корзина popUp-доп Продукты
			a(href="cart-popup2.html")
				span Корзина popUp2 -доп Категории
			a(href="cart-popup3.html")
				span Корзина popUp3-доп Категории-слайдер
			a(href="cart-popup4.html")
				span Корзина popUp4-доп popUp
			a(href="order-page.html")
				span Оформление
			a(href="order-page2.html")
				span Оформление-2
			a(href="order-page3.html")
				span Оформление-3
			a(href="personal-page.html")
				span Профиль
			a(href="autorization.html")
				span Авторизация
			a(href="popup-form.html")
				span Форма popUp
			a(href="popup-message.html")
				span Сообщение popUp
			a(href="page-404.html")
				span 404
			a(href="contacts.html")
				span Контакты
			a(href="footer.html")
				span Футер
			a(href="footer-map.html")
				span Футер с картой
			
			

block variables
	-var title = "Pizza Mega Magic";
