extends ../layouts/layout.pug

block content
	.start-page(style="background: white;")
		h1 Pizza Mega Magic
		.start-page__cards
			a(href="./ui/colors.html") UI-KIT PAGE
			
			a(href="main.html")
				span Главная
			a(href="home1.html")
				span Home_1
			a(href="home2.html")
				span Home_2
			a(href="home3.html")
				span Home_3
			a(href="home4.html")
				span Home_4
			a(href="home5.html")
				span Home_5
			a(href="delivery.html")
				span Доставка
			a(href="news.html")
				span Новости
			a(href="news-single.html")
				span Одна новость
			a(href="cart-page.html")
				span Корзина
			a(href="cart-popup.html")
				span Корзина popUp
			a(href="footer.html")
				span Футер
			a(href="footer-map.html")
				span Футер с картой
			a(href="product-popUp.html")
				span product popUp
			

block variables
	-var title = "Pizza Mega Magic";
