extends ../layouts/layout.pug

block content
	include ../sections/_header
	include ../sections/_promo-slider
	main.inner-main
		
		include ../sections/_menu-categories-grid
		include ../sections/_product-tabs
		include ../sections/_cta
		include ../sections/_our-garantee
		include ../sections/_product-cards-370
		include ../sections/_discount
		include ../sections/_horiz-mobile-cards.pug
		
		include ../sections/_about-seo
	
	//FOOTER
	include ../sections/_footer
	include ../sections/_footer-v2

block variables
	-var title = "Pizza Mega Magic";
