extends ../layouts/layout.pug

block content
	include ../sections/_header
	main.main
		include ../sections/_menu-categories-grid
		include ../sections/_product-tabs
		include ../sections/_cta
		include ../sections/_our-garantee

block variables
	-var title = "Pizza Mega Magic";
