extends ../layouts/layout.pug

block content
	include ../sections/_header
	main.inner-main.pb-0
		.breadcrumbs-wrapper
			.container
				ul.breadcrumbs
					li
						a(href="index.html") Главная
					li
						a(href="#!") Второй пункт
					li
						a(href="#!") Вложенная страница
		include ../sections/_news-single
		include ../sections/_our-app
	
	//FOOTER
	include ../sections/_footer
	

block variables
	-var title = "Новости";
