extends ../layouts/layout.pug

block content
	include ../sections/_header
	main.inner-main
		.breadcrumbs-wrapper
			.container
				ul.breadcrumbs
					li
						a(href="index.html") Главная
					li
						a(href="#!") Второй пункт
					li
						a(href="#!") Вложенная страница
						
		include ../sections/_order-page3.pug
	
	//FOOTER
	include ../sections/_footer
	

block variables
	-var title = "Оформление шаг 2";