extends ../layouts/layout.pug

block content
	include ../sections/_header
	include ../sections/_promo-slider
	main.main
		
		
	
	//FOOTER
	include ../sections/_footer-v2
	
	//PRODUCT POPUP
	button(data-fancybox data-src="#product-popUp") text
	#product-popUp.fancy-popUp

block variables
	-var title = "Pizza Mega Magic";
