extends ../layouts/layout.pug

block content
	include ../sections/_header
	include ../sections/_promo-slider
	main.main
		
		
	
	//FOOTER
	include ../sections/_footer-v2
	//- data-simplebar
	

	.modal-frame.product-modal.visible(data-modal="product")
		.single-product-content
			button.round-close(data-close)
				svg.svg-cross(style="color: white;")
					use(href='./img/sprite.svg#svg-cross')
			.single-product-v1.product-modal-content
				.single-product-twocolumns
					.single-product-photo
						img(src='./img/goods/pizza1.webp', srcset='./img/goods/pizza1@2x.webp 2x' width='680' height='424' loading='lazy' alt='img')
					//right column
					.single-product-details
						//title
						.single-product-head
							.single-product__title  Пицца “Особая”
							.single-product__desk
								p.txt-16 Говядина, халапеньо, моцарелла, помидоры, куриное филе, томатный соус.
								.prod-weight Вес: 550 гр.
						//filters
						.single-product-filters
							.switch-group.switch-group--size
								label.switch-label
									input(type="radio" name="switch_name2")
									span.switch-btn 28см
								label.switch-label
									input(type="radio" name="switch_name2" checked)
									span.switch-btn 32см
								label.switch-label
									input(type="radio" name="switch_name2" )
									span.switch-btn 42см
							.switch-group
								label.switch-label
									input(type="radio" name="switch_name")
									span.switch-btn Традиционное
								label.switch-label
									input(type="radio" name="switch_name" checked)
									span.switch-btn Тонкое
								label.switch-label
									input(type="radio" name="switch_name")
									span.switch-btn Сырный бортик
						
						//Дополнительно
						.single-product-group
							.title-16 Добавить:
							.single-product-additional.sm-three-col.scroll-y
								+addCard(1,'Лук', 80)
								+addCard(2,'Перчик Чили', 100)
								+addCard(3,'Бекон', 130)
								+addCard(4,'Сыр', 100)
								+addCard(5,'Моцарелла', 79)
								+addCard(6,'Сыры чеддер и пармезан', 79)
						
						//FOOTER
						.single-product-footer
							.counter-wrapper__group
								.counter-wrapper
									span.txt-bold Количество:
									.counter
										button.counter-minus(type='button' aria-label='Уменьшить количество') –
										span.counter-value(contenteditable='true') 2
										button.counter-plus(type='button' aria-label='Увеличить количество') +
								.flex-sm
									p.prod-weight Вес: 550 гр.
							
							.single-product-price-wrapper
								.price-box
									span.new-price 600&#8381;
									span.old-price 800&#8381;
									
								button.btn-accent 
									span.hide-sm В корзину
									span.flex-sm +630
				
block variables
	-var title = "Pizza Mega Magic";
